button, input[type=button], input[type=submit], a.btn {
  background-color: #e1e1e1;
  color: #18212f;
  font-family: 'Montserrat-Regular', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  border-width: 0;
  border-radius: 4px;
  font-size: 1rem;
  padding: 0.4rem 0.7rem;
  cursor: pointer;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
}

button:hover, input:hover[type=button], input:hover[type=submit], a.btn:hover {
  background-color: #d1d1d1;
}

button.square, input.square[type=button], input.square[type=submit], a.square.btn {
  border-radius: 0px;
}

button.pill, input.pill[type=button], input.pill[type=submit], a.pill.btn {
  border-radius: 20px;
}

button.primary, input.primary[type=button], input.primary[type=submit], a.primary.btn {
  background-color: #0808c9;
  border: 1px solid #0808c9;
  color: ghostwhite;
}

button.primary:hover, input.primary:hover[type=button], input.primary:hover[type=submit], a.primary.btn:hover {
  background-color: #0707ac;
}

button.secondary, input.secondary[type=button], input.secondary[type=submit], a.secondary.btn {
  background-color: #9e9e9e;
  border: 1px solid #9e9e9e;
  color: #18212f;
}

button.secondary:hover, input.secondary:hover[type=button], input.secondary:hover[type=submit], a.secondary.btn:hover {
  background-color: #8f8f8f;
}

button.info, input.info[type=button], input.info[type=submit], a.info.btn {
  background-color: #51a1ec;
  border: 1px solid #51a1ec;
  color: #18212f;
}

button.info:hover, input.info:hover[type=button], input.info:hover[type=submit], a.info.btn:hover {
  background-color: #3592e9;
}

button.success, input.success[type=button], input.success[type=submit], a.success.btn {
  background-color: #05C16C;
  border: 1px solid #05C16C;
  color: ghostwhite;
}

button.success:hover, input.success:hover[type=button], input.success:hover[type=submit], a.success.btn:hover {
  background-color: #04a35b;
}

button.warn, input.warn[type=button], input.warn[type=submit], a.warn.btn {
  background-color: #E1BB22;
  border: 1px solid #E1BB22;
  color: #18212f;
}

button.warn:hover, input.warn:hover[type=button], input.warn:hover[type=submit], a.warn.btn:hover {
  background-color: #c9a71b;
}

button.error, input.error[type=button], input.error[type=submit], a.error.btn {
  background-color: #E90000;
  border: 1px solid #E90000;
  color: ghostwhite;
}

button.error:hover, input.error:hover[type=button], input.error:hover[type=submit], a.error.btn:hover {
  background-color: #ca0000;
}

button.light, input.light[type=button], input.light[type=submit], a.light.btn {
  background-color: #f5f5f5;
  border: 1px solid #f5f5f5;
  color: #18212f;
}

button.light:hover, input.light:hover[type=button], input.light:hover[type=submit], a.light.btn:hover {
  background-color: #e6e6e6;
}

button.dark, input.dark[type=button], input.dark[type=submit], a.dark.btn {
  background-color: #18212f;
  border: 1px solid #18212f;
  color: ghostwhite;
}

button.dark:hover, input.dark:hover[type=button], input.dark:hover[type=submit], a.dark.btn:hover {
  background-color: #0e131b;
}

button.small, input.small[type=button], input.small[type=submit], a.small.btn {
  font-size: 0.75rem;
  padding: 0.2rem 0.5rem;
}

button.large, input.large[type=button], input.large[type=submit], a.large.btn {
  font-size: 1.25rem;
  padding: 0.6rem 0.9rem;
}

a.btn {
  text-decoration: none;
}
/*# sourceMappingURL=buttons.css.map */