.sc-container {
  max-width: 1200px;
  margin: auto;
  padding: 1rem; }

.sc-margin-5 {
  margin: 5px; }

.sc-margin-top-5 {
  margin-top: 5px; }

.sc-margin-right-5 {
  margin-right: 5px; }

.sc-margin-bottom-5 {
  margin-bottom: 5px; }

.sc-margin-left-5 {
  margin-left: 5px; }

.sc-padding-5 {
  padding: 5px; }

.sc-padding-top-5 {
  padding-top: 5px; }

.sc-padding-right-5 {
  padding-right: 5px; }

.sc-padding-bottom-5 {
  padding-bottom: 5px; }

.sc-padding-left-5 {
  padding-left: 5px; }

.sc-margin-10 {
  margin: 10px; }

.sc-margin-top-10 {
  margin-top: 10px; }

.sc-margin-right-10 {
  margin-right: 10px; }

.sc-margin-bottom-10 {
  margin-bottom: 10px; }

.sc-margin-left-10 {
  margin-left: 10px; }

.sc-padding-10 {
  padding: 10px; }

.sc-padding-top-10 {
  padding-top: 10px; }

.sc-padding-right-10 {
  padding-right: 10px; }

.sc-padding-bottom-10 {
  padding-bottom: 10px; }

.sc-padding-left-10 {
  padding-left: 10px; }

.sc-margin-15 {
  margin: 15px; }

.sc-margin-top-15 {
  margin-top: 15px; }

.sc-margin-right-15 {
  margin-right: 15px; }

.sc-margin-bottom-15 {
  margin-bottom: 15px; }

.sc-margin-left-15 {
  margin-left: 15px; }

.sc-padding-15 {
  padding: 15px; }

.sc-padding-top-15 {
  padding-top: 15px; }

.sc-padding-right-15 {
  padding-right: 15px; }

.sc-padding-bottom-15 {
  padding-bottom: 15px; }

.sc-padding-left-15 {
  padding-left: 15px; }

.sc-margin-20 {
  margin: 20px; }

.sc-margin-top-20 {
  margin-top: 20px; }

.sc-margin-right-20 {
  margin-right: 20px; }

.sc-margin-bottom-20 {
  margin-bottom: 20px; }

.sc-margin-left-20 {
  margin-left: 20px; }

.sc-padding-20 {
  padding: 20px; }

.sc-padding-top-20 {
  padding-top: 20px; }

.sc-padding-right-20 {
  padding-right: 20px; }

.sc-padding-bottom-20 {
  padding-bottom: 20px; }

.sc-padding-left-20 {
  padding-left: 20px; }

.sc-margin-25 {
  margin: 25px; }

.sc-margin-top-25 {
  margin-top: 25px; }

.sc-margin-right-25 {
  margin-right: 25px; }

.sc-margin-bottom-25 {
  margin-bottom: 25px; }

.sc-margin-left-25 {
  margin-left: 25px; }

.sc-padding-25 {
  padding: 25px; }

.sc-padding-top-25 {
  padding-top: 25px; }

.sc-padding-right-25 {
  padding-right: 25px; }

.sc-padding-bottom-25 {
  padding-bottom: 25px; }

.sc-padding-left-25 {
  padding-left: 25px; }

.sc-margin-30 {
  margin: 30px; }

.sc-margin-top-30 {
  margin-top: 30px; }

.sc-margin-right-30 {
  margin-right: 30px; }

.sc-margin-bottom-30 {
  margin-bottom: 30px; }

.sc-margin-left-30 {
  margin-left: 30px; }

.sc-padding-30 {
  padding: 30px; }

.sc-padding-top-30 {
  padding-top: 30px; }

.sc-padding-right-30 {
  padding-right: 30px; }

.sc-padding-bottom-30 {
  padding-bottom: 30px; }

.sc-padding-left-30 {
  padding-left: 30px; }

.sc-margin-35 {
  margin: 35px; }

.sc-margin-top-35 {
  margin-top: 35px; }

.sc-margin-right-35 {
  margin-right: 35px; }

.sc-margin-bottom-35 {
  margin-bottom: 35px; }

.sc-margin-left-35 {
  margin-left: 35px; }

.sc-padding-35 {
  padding: 35px; }

.sc-padding-top-35 {
  padding-top: 35px; }

.sc-padding-right-35 {
  padding-right: 35px; }

.sc-padding-bottom-35 {
  padding-bottom: 35px; }

.sc-padding-left-35 {
  padding-left: 35px; }

.sc-margin-40 {
  margin: 40px; }

.sc-margin-top-40 {
  margin-top: 40px; }

.sc-margin-right-40 {
  margin-right: 40px; }

.sc-margin-bottom-40 {
  margin-bottom: 40px; }

.sc-margin-left-40 {
  margin-left: 40px; }

.sc-padding-40 {
  padding: 40px; }

.sc-padding-top-40 {
  padding-top: 40px; }

.sc-padding-right-40 {
  padding-right: 40px; }

.sc-padding-bottom-40 {
  padding-bottom: 40px; }

.sc-padding-left-40 {
  padding-left: 40px; }

.sc-margin-45 {
  margin: 45px; }

.sc-margin-top-45 {
  margin-top: 45px; }

.sc-margin-right-45 {
  margin-right: 45px; }

.sc-margin-bottom-45 {
  margin-bottom: 45px; }

.sc-margin-left-45 {
  margin-left: 45px; }

.sc-padding-45 {
  padding: 45px; }

.sc-padding-top-45 {
  padding-top: 45px; }

.sc-padding-right-45 {
  padding-right: 45px; }

.sc-padding-bottom-45 {
  padding-bottom: 45px; }

.sc-padding-left-45 {
  padding-left: 45px; }

.sc-margin-50 {
  margin: 50px; }

.sc-margin-top-50 {
  margin-top: 50px; }

.sc-margin-right-50 {
  margin-right: 50px; }

.sc-margin-bottom-50 {
  margin-bottom: 50px; }

.sc-margin-left-50 {
  margin-left: 50px; }

.sc-padding-50 {
  padding: 50px; }

.sc-padding-top-50 {
  padding-top: 50px; }

.sc-padding-right-50 {
  padding-right: 50px; }

.sc-padding-bottom-50 {
  padding-bottom: 50px; }

.sc-padding-left-50 {
  padding-left: 50px; }

.sc-m-1 {
  margin: 0.25rem; }

.sc-mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem; }

.sc-my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem; }

.sc-mt-1 {
  margin-top: 0.25rem; }

.sc-mr-1 {
  margin-right: 0.25rem; }

.sc-mb-1 {
  margin-bottom: 0.25rem; }

.sc-ml-1 {
  margin-left: 0.25rem; }

.sc-p-1 {
  padding: 0.25rem; }

.sc-px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem; }

.sc-py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem; }

.sc-pt-1 {
  padding-top: 0.25rem; }

.sc-pr-1 {
  padding-right: 0.25rem; }

.sc-pb-1 {
  padding-bottom: 0.25rem; }

.sc-pl-1 {
  padding-left: 0.25rem; }

.sc-m-2 {
  margin: 0.5rem; }

.sc-mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem; }

.sc-my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }

.sc-mt-2 {
  margin-top: 0.5rem; }

.sc-mr-2 {
  margin-right: 0.5rem; }

.sc-mb-2 {
  margin-bottom: 0.5rem; }

.sc-ml-2 {
  margin-left: 0.5rem; }

.sc-p-2 {
  padding: 0.5rem; }

.sc-px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem; }

.sc-py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.sc-pt-2 {
  padding-top: 0.5rem; }

.sc-pr-2 {
  padding-right: 0.5rem; }

.sc-pb-2 {
  padding-bottom: 0.5rem; }

.sc-pl-2 {
  padding-left: 0.5rem; }

.sc-m-3 {
  margin: 0.75rem; }

.sc-mx-3 {
  margin-left: 0.75rem;
  margin-right: 0.75rem; }

.sc-my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem; }

.sc-mt-3 {
  margin-top: 0.75rem; }

.sc-mr-3 {
  margin-right: 0.75rem; }

.sc-mb-3 {
  margin-bottom: 0.75rem; }

.sc-ml-3 {
  margin-left: 0.75rem; }

.sc-p-3 {
  padding: 0.75rem; }

.sc-px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem; }

.sc-py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem; }

.sc-pt-3 {
  padding-top: 0.75rem; }

.sc-pr-3 {
  padding-right: 0.75rem; }

.sc-pb-3 {
  padding-bottom: 0.75rem; }

.sc-pl-3 {
  padding-left: 0.75rem; }

.sc-m-4 {
  margin: 1rem; }

.sc-mx-4 {
  margin-left: 1rem;
  margin-right: 1rem; }

.sc-my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.sc-mt-4 {
  margin-top: 1rem; }

.sc-mr-4 {
  margin-right: 1rem; }

.sc-mb-4 {
  margin-bottom: 1rem; }

.sc-ml-4 {
  margin-left: 1rem; }

.sc-p-4 {
  padding: 1rem; }

.sc-px-4 {
  padding-left: 1rem;
  padding-right: 1rem; }

.sc-py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.sc-pt-4 {
  padding-top: 1rem; }

.sc-pr-4 {
  padding-right: 1rem; }

.sc-pb-4 {
  padding-bottom: 1rem; }

.sc-pl-4 {
  padding-left: 1rem; }

.sc-m-5 {
  margin: 1.25rem; }

.sc-mx-5 {
  margin-left: 1.25rem;
  margin-right: 1.25rem; }

.sc-my-5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem; }

.sc-mt-5 {
  margin-top: 1.25rem; }

.sc-mr-5 {
  margin-right: 1.25rem; }

.sc-mb-5 {
  margin-bottom: 1.25rem; }

.sc-ml-5 {
  margin-left: 1.25rem; }

.sc-p-5 {
  padding: 1.25rem; }

.sc-px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem; }

.sc-py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem; }

.sc-pt-5 {
  padding-top: 1.25rem; }

.sc-pr-5 {
  padding-right: 1.25rem; }

.sc-pb-5 {
  padding-bottom: 1.25rem; }

.sc-pl-5 {
  padding-left: 1.25rem; }
