button, input[type=button], input[type=submit], .btn {
  background-color: #e1e1e1;
  color: #18212f;
  font-family: 'Montserrat-Regular', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  border-width: 0;
  border-radius: 4px;
  font-size: 1rem;
  padding: 0.4rem 0.7rem;
  cursor: pointer;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
}

button:hover, input:hover[type=button], input:hover[type=submit], .btn:hover {
  background-color: #c2c2c2;
}

button.square, input.square[type=button], input.square[type=submit], .square.btn {
  border-radius: 0px;
}

button.pill, input.pill[type=button], input.pill[type=submit], .pill.btn {
  border-radius: 20px;
}

button.primary, input.primary[type=button], input.primary[type=submit], .primary.btn, .btn-group.primary button, .btn-group.primary input[type=button], .btn-group.primary input[type=submit], .btn-group.primary .btn {
  background-color: #0808c9;
  color: ghostwhite;
}

button.primary:hover, input.primary:hover[type=button], input.primary:hover[type=submit], .primary.btn:hover, .btn-group.primary button:hover, .btn-group.primary input:hover[type=button], .btn-group.primary input:hover[type=submit], .btn-group.primary .btn:hover {
  background-color: #06068e;
}

button.secondary, input.secondary[type=button], input.secondary[type=submit], .secondary.btn, .btn-group.secondary button, .btn-group.secondary input[type=button], .btn-group.secondary input[type=submit], .btn-group.secondary .btn {
  background-color: #9e9e9e;
  color: #18212f;
}

button.secondary:hover, input.secondary:hover[type=button], input.secondary:hover[type=submit], .secondary.btn:hover, .btn-group.secondary button:hover, .btn-group.secondary input:hover[type=button], .btn-group.secondary input:hover[type=submit], .btn-group.secondary .btn:hover {
  background-color: #7f7f7f;
}

button.info, input.info[type=button], input.info[type=submit], .info.btn, .btn-group.info button, .btn-group.info input[type=button], .btn-group.info input[type=submit], .btn-group.info .btn {
  background-color: #51a1ec;
  color: #18212f;
}

button.info:hover, input.info:hover[type=button], input.info:hover[type=submit], .info.btn:hover, .btn-group.info button:hover, .btn-group.info input:hover[type=button], .btn-group.info input:hover[type=submit], .btn-group.info .btn:hover {
  background-color: #1a83e6;
}

button.success, input.success[type=button], input.success[type=submit], .success.btn, .btn-group.success button, .btn-group.success input[type=button], .btn-group.success input[type=submit], .btn-group.success .btn {
  background-color: #05C16C;
  color: ghostwhite;
}

button.success:hover, input.success:hover[type=button], input.success:hover[type=submit], .success.btn:hover, .btn-group.success button:hover, .btn-group.success input:hover[type=button], .btn-group.success input:hover[type=submit], .btn-group.success .btn:hover {
  background-color: #03854b;
}

button.warn, input.warn[type=button], input.warn[type=submit], .warn.btn, .btn-group.warn button, .btn-group.warn input[type=button], .btn-group.warn input[type=submit], .btn-group.warn .btn {
  background-color: #E1BB22;
  color: #18212f;
}

button.warn:hover, input.warn:hover[type=button], input.warn:hover[type=submit], .warn.btn:hover, .btn-group.warn button:hover, .btn-group.warn input:hover[type=button], .btn-group.warn input:hover[type=submit], .btn-group.warn .btn:hover {
  background-color: #ae9018;
}

button.error, input.error[type=button], input.error[type=submit], .error.btn, .btn-group.error button, .btn-group.error input[type=button], .btn-group.error input[type=submit], .btn-group.error .btn {
  background-color: #E90000;
  color: ghostwhite;
}

button.error:hover, input.error:hover[type=button], input.error:hover[type=submit], .error.btn:hover, .btn-group.error button:hover, .btn-group.error input:hover[type=button], .btn-group.error input:hover[type=submit], .btn-group.error .btn:hover {
  background-color: #ac0000;
}

button.light, input.light[type=button], input.light[type=submit], .light.btn, .btn-group.light button, .btn-group.light input[type=button], .btn-group.light input[type=submit], .btn-group.light .btn {
  background-color: #f5f5f5;
  color: #18212f;
}

button.light:hover, input.light:hover[type=button], input.light:hover[type=submit], .light.btn:hover, .btn-group.light button:hover, .btn-group.light input:hover[type=button], .btn-group.light input:hover[type=submit], .btn-group.light .btn:hover {
  background-color: #d6d6d6;
}

button.dark, input.dark[type=button], input.dark[type=submit], .dark.btn, .btn-group.dark button, .btn-group.dark input[type=button], .btn-group.dark input[type=submit], .btn-group.dark .btn {
  background-color: #18212f;
  color: ghostwhite;
}

button.dark:hover, input.dark:hover[type=button], input.dark:hover[type=submit], .dark.btn:hover, .btn-group.dark button:hover, .btn-group.dark input:hover[type=button], .btn-group.dark input:hover[type=submit], .btn-group.dark .btn:hover {
  background-color: #030506;
}

button.small, input.small[type=button], input.small[type=submit], .small.btn {
  font-size: 0.75rem;
  padding: 0.2rem 0.5rem;
}

button.large, input.large[type=button], input.large[type=submit], .large.btn {
  font-size: 1.25rem;
  padding: 0.6rem 0.9rem;
}

.btn {
  padding: 0.5rem 0.8rem;
  text-decoration: none;
}

.btn-group {
  display: -ms-inline-grid;
  display: inline-grid;
  grid-auto-flow: column;
}

.btn-group.square button, .btn-group.square input[type=button], .btn-group.square input[type=submit], .btn-group.square .btn {
  border-radius: 0;
}

.btn-group.square button:first-child, .btn-group.square input:first-child[type=button], .btn-group.square input:first-child[type=submit], .btn-group.square .btn:first-child {
  border-radius: 0;
}

.btn-group.square button:last-child, .btn-group.square input:last-child[type=button], .btn-group.square input:last-child[type=submit], .btn-group.square .btn:last-child {
  border-radius: 0;
}

.btn-group.pill button, .btn-group.pill input[type=button], .btn-group.pill input[type=submit], .btn-group.pill .btn {
  border-radius: 0;
}

.btn-group.pill button:first-child, .btn-group.pill input:first-child[type=button], .btn-group.pill input:first-child[type=submit], .btn-group.pill .btn:first-child {
  border-radius: 1rem 0px 0px 1rem;
}

.btn-group.pill button:last-child, .btn-group.pill input:last-child[type=button], .btn-group.pill input:last-child[type=submit], .btn-group.pill .btn:last-child {
  border-radius: 0px 1rem 1rem 0px;
}

.btn-group .active.primary {
  background-color: #06068e;
}

.btn-group .active.secondary {
  background-color: #7f7f7f;
}

.btn-group .active.info {
  background-color: #1a83e6;
}

.btn-group .active.success {
  background-color: #03854b;
}

.btn-group .active.warn {
  background-color: #ae9018;
}

.btn-group .active.error {
  background-color: #ac0000;
}

.btn-group .active.light {
  background-color: #d6d6d6;
}

.btn-group .active.dark {
  background-color: #030506;
}

.btn-group button, .btn-group input[type=button], .btn-group input[type=submit], .btn-group .btn {
  border-radius: 0;
}

.btn-group button:first-child, .btn-group input:first-child[type=button], .btn-group input:first-child[type=submit], .btn-group .btn:first-child {
  border-radius: 4px 0px 0px 4px;
}

.btn-group button:last-child, .btn-group input:last-child[type=button], .btn-group input:last-child[type=submit], .btn-group .btn:last-child {
  border-radius: 0px 4px 4px 0px;
}

.btn-group input[type=button] {
  border-radius: 0;
}

.btn-group input[type=button]:first-child {
  border-radius: 4px 0px 0px 4px;
}

.btn-group input[type=button]:last-child {
  border-radius: 0px 4px 4px 0px;
}

.btn-group input[type=submit] {
  border-radius: 0;
}

.btn-group input[type=submit]:first-child {
  border-radius: 4px 0px 0px 4px;
}

.btn-group input[type=submit]:last-child {
  border-radius: 0px 4px 4px 0px;
}

.btn-group .btn {
  border-radius: 0;
  text-decoration: none;
}

.btn-group .btn:first-child {
  border-radius: 4px 0px 0px 4px;
}

.btn-group .btn:last-child {
  border-radius: 0px 4px 4px 0px;
}

.btn-group.primary .active {
  background-color: #06068e;
}

.btn-group.secondary .active {
  background-color: #7f7f7f;
}

.btn-group.info .active {
  background-color: #1a83e6;
}

.btn-group.success .active {
  background-color: #03854b;
}

.btn-group.warn .active {
  background-color: #ae9018;
}

.btn-group.error .active {
  background-color: #ac0000;
}

.btn-group.light .active {
  background-color: #d6d6d6;
}

.btn-group.dark .active {
  background-color: #030506;
}

ol, ul {
  margin: 0 0 1rem 1rem;
}

ol ol, ul ol, ol ul, ul ul {
  margin-left: 1rem;
}

ol ul, ul ul {
  margin-left: 1rem;
}

ul.pagination {
  list-style-type: none;
  display: -ms-inline-grid;
  display: inline-grid;
  grid-auto-flow: column;
}

ul.pagination li:first-child a {
  border-radius: 4px 0px 0px 4px;
}

ul.pagination li:last-child a {
  border-width: 1px 1px 1px 1px;
  border-radius: 0px 4px 4px 0px;
}

ul.pagination li a {
  border-style: solid;
  border-color: #c7c7c7;
  border-width: 1px 0px 1px 1px;
  border-radius: 0;
  font-size: 1rem;
  padding: 0.4rem 0.7rem;
  -webkit-transition: background-color 0.2s, color 0.2s;
  transition: background-color 0.2s, color 0.2s;
}

ul.pagination li a:hover {
  text-decoration: none;
  background-color: #0808c9;
  color: ghostwhite;
}

ul.pagination.pill li:first-child a {
  border-radius: 1rem 0px 0px 1rem;
}

ul.pagination.pill li:last-child a {
  border-radius: 0px 1rem 1rem 0px;
}

ul.pagination.square li a {
  border-radius: 0;
}

ul.pagination.rounded li a {
  border-width: 0;
  border-radius: 1rem;
  margin: 0 0.75rem 0 0;
}

ul.pagination.rounded li:last-child a {
  margin: 0 0 0 0;
}

ul.pagination.secondary li a {
  color: #9e9e9e;
}

ul.pagination.secondary li a:hover {
  background-color: #9e9e9e;
  color: #18212f;
}

ul.pagination.info li a {
  color: #51a1ec;
}

ul.pagination.info li a:hover {
  background-color: #51a1ec;
  color: #18212f;
}

ul.pagination.success li a {
  color: #05C16C;
}

ul.pagination.success li a:hover {
  background-color: #05C16C;
  color: ghostwhite;
}

ul.pagination.warn li a {
  color: #E1BB22;
}

ul.pagination.warn li a:hover {
  background-color: #E1BB22;
  color: #18212f;
}

ul.pagination.error li a {
  color: #E90000;
}

ul.pagination.error li a:hover {
  background-color: #E90000;
  color: ghostwhite;
}

ul.pagination.light li a {
  color: #f5f5f5;
}

ul.pagination.light li a:hover {
  background-color: #f5f5f5;
  color: #18212f;
}

ul.pagination.dark li a {
  color: #18212f;
}

ul.pagination.dark li a:hover {
  background-color: #18212f;
  color: ghostwhite;
}
/*# sourceMappingURL=lists.css.map */