progress[value] {
  -webkit-appearance: none;
  appearance: none; }
  progress[value]::-webkit-progress-bar {
    background-color: #ccc;
    border-radius: 4px; }
  progress[value]::-webkit-progress-value {
    border-radius: 4px; }

progress.sc-progress.sc-progress--primary::-webkit-progress-value {
  background-color: #0808c9; }

progress.sc-progress.sc-progress--secondary::-webkit-progress-value {
  background-color: #9e9e9e; }

progress.sc-progress.sc-progress--info::-webkit-progress-value {
  background-color: #51a1ec; }

progress.sc-progress.sc-progress--success::-webkit-progress-value {
  background-color: #05C16C; }

progress.sc-progress.sc-progress--warn::-webkit-progress-value {
  background-color: #E1BB22; }

progress.sc-progress.sc-progress--error::-webkit-progress-value {
  background-color: #E90000; }

progress.sc-progress.sc-progress--light::-webkit-progress-value {
  background-color: #f5f5f5; }

progress.sc-progress.sc-progress--dark::-webkit-progress-value {
  background-color: #212121; }

.loader.pulse {
  width: 2rem;
  height: 2rem;
  display: inline-grid; }
  .loader.pulse .inner {
    width: 2rem;
    height: 2rem;
    background-color: #ccc;
    border-radius: 50%;
    place-self: center;
    animation: 1s linear infinite pulse; }
  .loader.pulse.sm {
    width: 1.5rem;
    height: 1.5rem; }
    .loader.pulse.sm .inner {
      width: 1.5rem;
      height: 1.5rem;
      animation: 1s linear infinite pulse; }
  .loader.pulse.lg {
    width: 2.75rem;
    height: 2.75rem; }
    .loader.pulse.lg .inner {
      width: 2.75rem;
      height: 2.75rem;
      animation: 1s linear infinite pulse; }
  .loader.pulse.primary .inner {
    background-color: #0808c9; }
  .loader.pulse.secondary .inner {
    background-color: #9e9e9e; }
  .loader.pulse.info .inner {
    background-color: #51a1ec; }
  .loader.pulse.success .inner {
    background-color: #05C16C; }
  .loader.pulse.warn .inner {
    background-color: #E1BB22; }
  .loader.pulse.error .inner {
    background-color: #E90000; }
  .loader.pulse.light .inner {
    background-color: gainsboro; }
  .loader.pulse.dark .inner {
    background-color: #080808; }

.loader.spin {
  width: 2rem;
  height: 2rem;
  display: inline-grid; }
  .loader.spin .inner {
    display: inherit; }
    .loader.spin .inner::after {
      content: "C";
      font-size: 2rem;
      font-weight: bolder;
      color: #ccc;
      animation: 1s linear infinite spin;
      place-self: center; }
  .loader.spin.sm {
    width: 1.5rem;
    height: 1.5rem; }
    .loader.spin.sm .inner::after {
      font-size: 1.5rem; }
  .loader.spin.lg {
    width: 2.75rem;
    height: 2.75rem; }
    .loader.spin.lg .inner::after {
      font-size: 2.75rem; }
  .loader.spin.primary .inner::after {
    color: #0808c9; }
  .loader.spin.secondary .inner::after {
    color: #9e9e9e; }
  .loader.spin.info .inner::after {
    color: #51a1ec; }
  .loader.spin.success .inner::after {
    color: #05C16C; }
  .loader.spin.warn .inner::after {
    color: #E1BB22; }
  .loader.spin.error .inner::after {
    color: #E90000; }
  .loader.spin.light .inner::after {
    color: gainsboro; }
  .loader.spin.dark .inner::after {
    color: #212121; }

@keyframes pulse {
  from {
    transform: scale(0);
    opacity: 0; }
  50% {
    opacity: 1; }
  to {
    transform: scale(1);
    opacity: 0; } }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
