* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  color: #222;
}

hr {
  height: 1px;
  color: #cfcfcf;
  background-color: #cfcfcf;
  border: none;
  margin: 0.75rem 0;
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url("../fonts/Montserrat-Regular.eot");
  src: url("../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/Montserrat-Regular.svg#Montserrat-Regular") format("svg");
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
  src: url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Montserrat-Regular', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.75rem;
  margin-bottom: 0.75rem;
}

h4 {
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
}

h5 {
  font-size: 1.25rem;
  margin-bottom: 0.75rem;
}

h6 {
  font-size: 1rem;
  margin-bottom: 0.75rem;
}

p {
  font-size: 1rem;
  margin-bottom: 0.75rem;
}

mark {
  background-color: yellow;
}

mark.primary {
  background-color: #0808c9;
  color: #f5f5f5;
}

mark.secondary {
  background-color: #9e9e9e;
  color: #222;
}

mark.info {
  background-color: #51a1ec;
  color: #222;
}

mark.success {
  background-color: #05C16C;
  color: #f5f5f5;
}

mark.warn {
  background-color: #E1BB22;
  color: #f5f5f5;
}

mark.error {
  background-color: #E90000;
  color: #f5f5f5;
}

pre, code {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 0.75rem;
}

code {
  background-color: #e8e8e8;
  color: #E90000;
  font-weight: 500;
  padding: 0.3rem;
}

.upper {
  text-transform: uppercase;
}

.lower {
  text-transform: lowercase;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.strike {
  text-decoration: line-through;
}

button, input[type=button], input[type=submit], a.button {
  background-color: #e8e8e8;
  color: #222;
  font-family: 'Montserrat-Regular', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  font-size: 1rem;
  padding: 0.4rem 0.7rem;
  cursor: pointer;
}

button:hover, input:hover[type=button], input:hover[type=submit], a.button:hover {
  background-color: #d9d9d9;
}

button.square, input.square[type=button], input.square[type=submit], a.square.button {
  border-radius: 0px;
}

button.pill, input.pill[type=button], input.pill[type=submit], a.pill.button {
  border-radius: 20px;
}

button.primary, input.primary[type=button], input.primary[type=submit], a.primary.button {
  background-color: #0808c9;
  border: 1px solid #0808c9;
  color: #f5f5f5;
}

button.primary:hover, input.primary:hover[type=button], input.primary:hover[type=submit], a.primary.button:hover {
  background-color: #0707ac;
}

button.secondary, input.secondary[type=button], input.secondary[type=submit], a.secondary.button {
  background-color: #9e9e9e;
  border: 1px solid #9e9e9e;
  color: #222;
}

button.secondary:hover, input.secondary:hover[type=button], input.secondary:hover[type=submit], a.secondary.button:hover {
  background-color: #8f8f8f;
}

button.info, input.info[type=button], input.info[type=submit], a.info.button {
  background-color: #51a1ec;
  border: 1px solid #51a1ec;
  color: #222;
}

button.info:hover, input.info:hover[type=button], input.info:hover[type=submit], a.info.button:hover {
  background-color: #3592e9;
}

button.success, input.success[type=button], input.success[type=submit], a.success.button {
  background-color: #05C16C;
  border: 1px solid #05C16C;
  color: #f5f5f5;
}

button.success:hover, input.success:hover[type=button], input.success:hover[type=submit], a.success.button:hover {
  background-color: #04a35b;
}

button.warn, input.warn[type=button], input.warn[type=submit], a.warn.button {
  background-color: #E1BB22;
  border: 1px solid #E1BB22;
  color: #222;
}

button.warn:hover, input.warn:hover[type=button], input.warn:hover[type=submit], a.warn.button:hover {
  background-color: #c9a71b;
}

button.error, input.error[type=button], input.error[type=submit], a.error.button {
  background-color: #E90000;
  border: 1px solid #E90000;
  color: #f5f5f5;
}

button.error:hover, input.error:hover[type=button], input.error:hover[type=submit], a.error.button:hover {
  background-color: #ca0000;
}

button.light, input.light[type=button], input.light[type=submit], a.light.button {
  background-color: #f5f5f5;
  border: 1px solid #f5f5f5;
  color: #222;
}

button.light:hover, input.light:hover[type=button], input.light:hover[type=submit], a.light.button:hover {
  background-color: #e6e6e6;
}

button.dark, input.dark[type=button], input.dark[type=submit], a.dark.button {
  background-color: #222;
  border: 1px solid #222;
  color: #f5f5f5;
}

button.dark:hover, input.dark:hover[type=button], input.dark:hover[type=submit], a.dark.button:hover {
  background-color: #131313;
}

button.small, input.small[type=button], input.small[type=submit], a.small.button {
  font-size: 0.75rem;
  padding: 0.2rem 0.5rem;
}

button.large, input.large[type=button], input.large[type=submit], a.large.button {
  font-size: 1.25rem;
  padding: 0.6rem 0.9rem;
}

a.button {
  text-decoration: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
}

table thead tr {
  border-bottom: 1px solid #222;
}

table tbody tr {
  border-bottom: 1px solid #cfcfcf;
}

table tbody tr:last-child {
  border-bottom-width: 0;
}

table td, table th {
  text-align: left;
  padding: 0.75rem;
}

table th {
  font-weight: bold;
}

table.striped tbody tr:nth-child(odd) {
  background-color: #e8e8e8;
}

table.slim td, table.slim th {
  padding: 0.25rem;
}

table.primary thead th {
  background-color: #0808c9;
  color: #f5f5f5;
}

table.secondary thead th {
  background-color: #9e9e9e;
  color: #222;
}

table.info thead th {
  background-color: #51a1ec;
  color: #222;
}

table.success thead th {
  background-color: #05C16C;
  color: #f5f5f5;
}

table.warn thead th {
  background-color: #E1BB22;
  color: #222;
}

table.error thead th {
  background-color: #E90000;
  color: #f5f5f5;
}

table.light thead th {
  background-color: #f5f5f5;
  color: #222;
}

table.dark thead th {
  background-color: #222;
  color: #f5f5f5;
}

.card {
  background-color: white;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  margin: 1rem;
  padding: 1rem;
}

.card .head {
  width: auto;
  border-bottom: 1px solid #cfcfcf;
}

.card .head h3 {
  font-size: 1.25rem;
}

.card .body {
  padding: 0.5rem;
}

.card .foot {
  border-top: 1px solid #cfcfcf;
  padding: 0.75rem 0.75rem 0 0;
}

.badge {
  background-color: #e8e8e8;
  color: #222;
  border-radius: 4px;
  font-size: 0.75rem;
  padding: 0.2rem 0.5rem;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.badge.square {
  border-radius: 0px;
}

.badge.pill {
  border-radius: 20px;
}

.badge.primary {
  background-color: #0808c9;
  color: #f5f5f5;
}

.badge.secondary {
  background-color: #9e9e9e;
  color: #222;
}

.badge.info {
  background-color: #51a1ec;
  color: #222;
}

.badge.success {
  background-color: #05C16C;
  color: #f5f5f5;
}

.badge.warn {
  background-color: #E1BB22;
  color: #222;
}

.badge.error {
  background-color: #E90000;
  color: #f5f5f5;
}

.badge.light {
  background-color: #f5f5f5;
  color: #222;
}

.badge.dark {
  background-color: #222;
  color: #f5f5f5;
}

.badge.small {
  font-size: 0.7rem;
  padding: 0.05rem 0.3rem;
}

.badge.large {
  font-size: 0.85rem;
  padding: 0.3rem 0.6rem;
}

input[type=text], input[type=number], input[type=date], input[type=datetime], input[type=color], input[type=radio], input[type=checkbox], select {
  border: 1px solid gainsboro;
  border-radius: 3px;
  padding: 0.25rem;
}

.form-group {
  margin: 0 0.25rem 0.5rem 0.25rem;
}

.form-group label {
  display: block;
}

.form-group-col {
  margin: 0 0.25rem 0.5rem 0.25rem;
}

.form-group-col label {
  display: inline;
  margin-right: 5px;
}

.message {
  border-radius: 3px;
  margin-bottom: 0.75rem;
  padding: 1rem;
}

.message.info {
  background-color: #51a1ec;
  color: #222;
}

.message.success {
  background-color: #05C16C;
  color: #f5f5f5;
}

.message.warn {
  background-color: #E1BB22;
  color: #222;
}

.message.error {
  background-color: #E90000;
  color: #f5f5f5;
}

.message.light {
  border-width: 1px;
  border-style: solid;
}

.message.light.info {
  background-color: #c4dff9;
  border-color: #51a1ec;
  color: #222;
}

.message.light.success {
  background-color: #4bfaab;
  border-color: #05C16C;
  color: #222;
}

.message.light.warn {
  background-color: #f0de92;
  border-color: #E1BB22;
  color: #222;
}

.message.light.error {
  background-color: #ff6a6a;
  border-color: #E90000;
  color: #222;
}

.message.outline {
  background: none;
  border-width: 1px;
  border-style: solid;
}

.message.outline.info {
  border-color: #51a1ec;
  color: #51a1ec;
}

.message.outline.success {
  border-color: #05C16C;
  color: #05C16C;
}

.message.outline.warn {
  border-color: #E1BB22;
  color: #E1BB22;
}

.message.outline.error {
  border-color: #E90000;
  color: #E90000;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
}

.grid {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.gap-5 {
  grid-gap: 5px;
}

.row-gap-5 {
  grid-row-gap: 5px;
}

.col-gap-5 {
  grid-column-gap: 5px;
}

.gap-10 {
  grid-gap: 10px;
}

.row-gap-10 {
  grid-row-gap: 10px;
}

.col-gap-10 {
  grid-column-gap: 10px;
}

.gap-15 {
  grid-gap: 15px;
}

.row-gap-15 {
  grid-row-gap: 15px;
}

.col-gap-15 {
  grid-column-gap: 15px;
}

.gap-20 {
  grid-gap: 20px;
}

.row-gap-20 {
  grid-row-gap: 20px;
}

.col-gap-20 {
  grid-column-gap: 20px;
}

.gap-25 {
  grid-gap: 25px;
}

.row-gap-25 {
  grid-row-gap: 25px;
}

.col-gap-25 {
  grid-column-gap: 25px;
}

.gap-30 {
  grid-gap: 30px;
}

.row-gap-30 {
  grid-row-gap: 30px;
}

.col-gap-30 {
  grid-column-gap: 30px;
}

.gap-35 {
  grid-gap: 35px;
}

.row-gap-35 {
  grid-row-gap: 35px;
}

.col-gap-35 {
  grid-column-gap: 35px;
}

.gap-40 {
  grid-gap: 40px;
}

.row-gap-40 {
  grid-row-gap: 40px;
}

.col-gap-40 {
  grid-column-gap: 40px;
}

.gap-45 {
  grid-gap: 45px;
}

.row-gap-45 {
  grid-row-gap: 45px;
}

.col-gap-45 {
  grid-column-gap: 45px;
}

.gap-50 {
  grid-gap: 50px;
}

.row-gap-50 {
  grid-row-gap: 50px;
}

.col-gap-50 {
  grid-column-gap: 50px;
}

.span-1-1 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 1;
}

.span-1-2 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
}

.span-1-3 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
}

.span-1-4 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
}

.span-1-5 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 5;
}

.span-1-6 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 6;
}

.span-1-7 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 7;
}

.span-1-8 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 8;
}

.span-1-9 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 9;
}

.span-1-10 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 10;
}

.span-1-11 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 11;
}

.span-1-12 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 12;
}

.span-1-13 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 13;
}

.span-1-14 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 14;
}

.span-1-15 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 15;
}

.span-1-16 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 16;
}

.span-1-17 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 17;
}

.span-1-18 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 18;
}

.span-1-19 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 19;
}

.span-1-20 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 20;
}

.span-2-1 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 1;
}

.span-2-2 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 2;
}

.span-2-3 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
}

.span-2-4 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 4;
}

.span-2-5 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 5;
}

.span-2-6 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 6;
}

.span-2-7 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 7;
}

.span-2-8 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 8;
}

.span-2-9 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 9;
}

.span-2-10 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 10;
}

.span-2-11 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 11;
}

.span-2-12 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 12;
}

.span-2-13 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 13;
}

.span-2-14 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 14;
}

.span-2-15 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 15;
}

.span-2-16 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 16;
}

.span-2-17 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 17;
}

.span-2-18 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 18;
}

.span-2-19 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 19;
}

.span-2-20 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 20;
}

.span-3-1 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 1;
}

.span-3-2 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 2;
}

.span-3-3 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 3;
}

.span-3-4 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 4;
}

.span-3-5 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 5;
}

.span-3-6 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 6;
}

.span-3-7 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 7;
}

.span-3-8 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 8;
}

.span-3-9 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 9;
}

.span-3-10 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 10;
}

.span-3-11 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 11;
}

.span-3-12 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 12;
}

.span-3-13 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 13;
}

.span-3-14 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 14;
}

.span-3-15 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 15;
}

.span-3-16 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 16;
}

.span-3-17 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 17;
}

.span-3-18 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 18;
}

.span-3-19 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 19;
}

.span-3-20 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 20;
}

.span-4-1 {
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 1;
}

.span-4-2 {
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 2;
}

.span-4-3 {
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 3;
}

.span-4-4 {
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 4;
}

.span-4-5 {
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 5;
}

.span-4-6 {
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 6;
}

.span-4-7 {
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 7;
}

.span-4-8 {
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 8;
}

.span-4-9 {
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 9;
}

.span-4-10 {
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 10;
}

.span-4-11 {
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 11;
}

.span-4-12 {
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 12;
}

.span-4-13 {
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 13;
}

.span-4-14 {
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 14;
}

.span-4-15 {
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 15;
}

.span-4-16 {
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 16;
}

.span-4-17 {
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 17;
}

.span-4-18 {
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 18;
}

.span-4-19 {
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 19;
}

.span-4-20 {
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 20;
}

.span-5-1 {
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 1;
}

.span-5-2 {
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 2;
}

.span-5-3 {
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 3;
}

.span-5-4 {
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 4;
}

.span-5-5 {
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 5;
}

.span-5-6 {
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 6;
}

.span-5-7 {
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 7;
}

.span-5-8 {
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 8;
}

.span-5-9 {
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 9;
}

.span-5-10 {
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 10;
}

.span-5-11 {
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 11;
}

.span-5-12 {
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 12;
}

.span-5-13 {
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 13;
}

.span-5-14 {
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 14;
}

.span-5-15 {
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 15;
}

.span-5-16 {
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 16;
}

.span-5-17 {
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 17;
}

.span-5-18 {
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 18;
}

.span-5-19 {
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 19;
}

.span-5-20 {
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 20;
}

.span-6-1 {
  -ms-grid-column: 6;
      grid-column-start: 6;
  grid-column-end: 1;
}

.span-6-2 {
  -ms-grid-column: 6;
      grid-column-start: 6;
  grid-column-end: 2;
}

.span-6-3 {
  -ms-grid-column: 6;
      grid-column-start: 6;
  grid-column-end: 3;
}

.span-6-4 {
  -ms-grid-column: 6;
      grid-column-start: 6;
  grid-column-end: 4;
}

.span-6-5 {
  -ms-grid-column: 6;
      grid-column-start: 6;
  grid-column-end: 5;
}

.span-6-6 {
  -ms-grid-column: 6;
      grid-column-start: 6;
  grid-column-end: 6;
}

.span-6-7 {
  -ms-grid-column: 6;
      grid-column-start: 6;
  grid-column-end: 7;
}

.span-6-8 {
  -ms-grid-column: 6;
      grid-column-start: 6;
  grid-column-end: 8;
}

.span-6-9 {
  -ms-grid-column: 6;
      grid-column-start: 6;
  grid-column-end: 9;
}

.span-6-10 {
  -ms-grid-column: 6;
      grid-column-start: 6;
  grid-column-end: 10;
}

.span-6-11 {
  -ms-grid-column: 6;
      grid-column-start: 6;
  grid-column-end: 11;
}

.span-6-12 {
  -ms-grid-column: 6;
      grid-column-start: 6;
  grid-column-end: 12;
}

.span-6-13 {
  -ms-grid-column: 6;
      grid-column-start: 6;
  grid-column-end: 13;
}

.span-6-14 {
  -ms-grid-column: 6;
      grid-column-start: 6;
  grid-column-end: 14;
}

.span-6-15 {
  -ms-grid-column: 6;
      grid-column-start: 6;
  grid-column-end: 15;
}

.span-6-16 {
  -ms-grid-column: 6;
      grid-column-start: 6;
  grid-column-end: 16;
}

.span-6-17 {
  -ms-grid-column: 6;
      grid-column-start: 6;
  grid-column-end: 17;
}

.span-6-18 {
  -ms-grid-column: 6;
      grid-column-start: 6;
  grid-column-end: 18;
}

.span-6-19 {
  -ms-grid-column: 6;
      grid-column-start: 6;
  grid-column-end: 19;
}

.span-6-20 {
  -ms-grid-column: 6;
      grid-column-start: 6;
  grid-column-end: 20;
}

.span-7-1 {
  -ms-grid-column: 7;
      grid-column-start: 7;
  grid-column-end: 1;
}

.span-7-2 {
  -ms-grid-column: 7;
      grid-column-start: 7;
  grid-column-end: 2;
}

.span-7-3 {
  -ms-grid-column: 7;
      grid-column-start: 7;
  grid-column-end: 3;
}

.span-7-4 {
  -ms-grid-column: 7;
      grid-column-start: 7;
  grid-column-end: 4;
}

.span-7-5 {
  -ms-grid-column: 7;
      grid-column-start: 7;
  grid-column-end: 5;
}

.span-7-6 {
  -ms-grid-column: 7;
      grid-column-start: 7;
  grid-column-end: 6;
}

.span-7-7 {
  -ms-grid-column: 7;
      grid-column-start: 7;
  grid-column-end: 7;
}

.span-7-8 {
  -ms-grid-column: 7;
      grid-column-start: 7;
  grid-column-end: 8;
}

.span-7-9 {
  -ms-grid-column: 7;
      grid-column-start: 7;
  grid-column-end: 9;
}

.span-7-10 {
  -ms-grid-column: 7;
      grid-column-start: 7;
  grid-column-end: 10;
}

.span-7-11 {
  -ms-grid-column: 7;
      grid-column-start: 7;
  grid-column-end: 11;
}

.span-7-12 {
  -ms-grid-column: 7;
      grid-column-start: 7;
  grid-column-end: 12;
}

.span-7-13 {
  -ms-grid-column: 7;
      grid-column-start: 7;
  grid-column-end: 13;
}

.span-7-14 {
  -ms-grid-column: 7;
      grid-column-start: 7;
  grid-column-end: 14;
}

.span-7-15 {
  -ms-grid-column: 7;
      grid-column-start: 7;
  grid-column-end: 15;
}

.span-7-16 {
  -ms-grid-column: 7;
      grid-column-start: 7;
  grid-column-end: 16;
}

.span-7-17 {
  -ms-grid-column: 7;
      grid-column-start: 7;
  grid-column-end: 17;
}

.span-7-18 {
  -ms-grid-column: 7;
      grid-column-start: 7;
  grid-column-end: 18;
}

.span-7-19 {
  -ms-grid-column: 7;
      grid-column-start: 7;
  grid-column-end: 19;
}

.span-7-20 {
  -ms-grid-column: 7;
      grid-column-start: 7;
  grid-column-end: 20;
}

.span-8-1 {
  -ms-grid-column: 8;
      grid-column-start: 8;
  grid-column-end: 1;
}

.span-8-2 {
  -ms-grid-column: 8;
      grid-column-start: 8;
  grid-column-end: 2;
}

.span-8-3 {
  -ms-grid-column: 8;
      grid-column-start: 8;
  grid-column-end: 3;
}

.span-8-4 {
  -ms-grid-column: 8;
      grid-column-start: 8;
  grid-column-end: 4;
}

.span-8-5 {
  -ms-grid-column: 8;
      grid-column-start: 8;
  grid-column-end: 5;
}

.span-8-6 {
  -ms-grid-column: 8;
      grid-column-start: 8;
  grid-column-end: 6;
}

.span-8-7 {
  -ms-grid-column: 8;
      grid-column-start: 8;
  grid-column-end: 7;
}

.span-8-8 {
  -ms-grid-column: 8;
      grid-column-start: 8;
  grid-column-end: 8;
}

.span-8-9 {
  -ms-grid-column: 8;
      grid-column-start: 8;
  grid-column-end: 9;
}

.span-8-10 {
  -ms-grid-column: 8;
      grid-column-start: 8;
  grid-column-end: 10;
}

.span-8-11 {
  -ms-grid-column: 8;
      grid-column-start: 8;
  grid-column-end: 11;
}

.span-8-12 {
  -ms-grid-column: 8;
      grid-column-start: 8;
  grid-column-end: 12;
}

.span-8-13 {
  -ms-grid-column: 8;
      grid-column-start: 8;
  grid-column-end: 13;
}

.span-8-14 {
  -ms-grid-column: 8;
      grid-column-start: 8;
  grid-column-end: 14;
}

.span-8-15 {
  -ms-grid-column: 8;
      grid-column-start: 8;
  grid-column-end: 15;
}

.span-8-16 {
  -ms-grid-column: 8;
      grid-column-start: 8;
  grid-column-end: 16;
}

.span-8-17 {
  -ms-grid-column: 8;
      grid-column-start: 8;
  grid-column-end: 17;
}

.span-8-18 {
  -ms-grid-column: 8;
      grid-column-start: 8;
  grid-column-end: 18;
}

.span-8-19 {
  -ms-grid-column: 8;
      grid-column-start: 8;
  grid-column-end: 19;
}

.span-8-20 {
  -ms-grid-column: 8;
      grid-column-start: 8;
  grid-column-end: 20;
}

.span-9-1 {
  -ms-grid-column: 9;
      grid-column-start: 9;
  grid-column-end: 1;
}

.span-9-2 {
  -ms-grid-column: 9;
      grid-column-start: 9;
  grid-column-end: 2;
}

.span-9-3 {
  -ms-grid-column: 9;
      grid-column-start: 9;
  grid-column-end: 3;
}

.span-9-4 {
  -ms-grid-column: 9;
      grid-column-start: 9;
  grid-column-end: 4;
}

.span-9-5 {
  -ms-grid-column: 9;
      grid-column-start: 9;
  grid-column-end: 5;
}

.span-9-6 {
  -ms-grid-column: 9;
      grid-column-start: 9;
  grid-column-end: 6;
}

.span-9-7 {
  -ms-grid-column: 9;
      grid-column-start: 9;
  grid-column-end: 7;
}

.span-9-8 {
  -ms-grid-column: 9;
      grid-column-start: 9;
  grid-column-end: 8;
}

.span-9-9 {
  -ms-grid-column: 9;
      grid-column-start: 9;
  grid-column-end: 9;
}

.span-9-10 {
  -ms-grid-column: 9;
      grid-column-start: 9;
  grid-column-end: 10;
}

.span-9-11 {
  -ms-grid-column: 9;
      grid-column-start: 9;
  grid-column-end: 11;
}

.span-9-12 {
  -ms-grid-column: 9;
      grid-column-start: 9;
  grid-column-end: 12;
}

.span-9-13 {
  -ms-grid-column: 9;
      grid-column-start: 9;
  grid-column-end: 13;
}

.span-9-14 {
  -ms-grid-column: 9;
      grid-column-start: 9;
  grid-column-end: 14;
}

.span-9-15 {
  -ms-grid-column: 9;
      grid-column-start: 9;
  grid-column-end: 15;
}

.span-9-16 {
  -ms-grid-column: 9;
      grid-column-start: 9;
  grid-column-end: 16;
}

.span-9-17 {
  -ms-grid-column: 9;
      grid-column-start: 9;
  grid-column-end: 17;
}

.span-9-18 {
  -ms-grid-column: 9;
      grid-column-start: 9;
  grid-column-end: 18;
}

.span-9-19 {
  -ms-grid-column: 9;
      grid-column-start: 9;
  grid-column-end: 19;
}

.span-9-20 {
  -ms-grid-column: 9;
      grid-column-start: 9;
  grid-column-end: 20;
}

.span-10-1 {
  -ms-grid-column: 10;
      grid-column-start: 10;
  grid-column-end: 1;
}

.span-10-2 {
  -ms-grid-column: 10;
      grid-column-start: 10;
  grid-column-end: 2;
}

.span-10-3 {
  -ms-grid-column: 10;
      grid-column-start: 10;
  grid-column-end: 3;
}

.span-10-4 {
  -ms-grid-column: 10;
      grid-column-start: 10;
  grid-column-end: 4;
}

.span-10-5 {
  -ms-grid-column: 10;
      grid-column-start: 10;
  grid-column-end: 5;
}

.span-10-6 {
  -ms-grid-column: 10;
      grid-column-start: 10;
  grid-column-end: 6;
}

.span-10-7 {
  -ms-grid-column: 10;
      grid-column-start: 10;
  grid-column-end: 7;
}

.span-10-8 {
  -ms-grid-column: 10;
      grid-column-start: 10;
  grid-column-end: 8;
}

.span-10-9 {
  -ms-grid-column: 10;
      grid-column-start: 10;
  grid-column-end: 9;
}

.span-10-10 {
  -ms-grid-column: 10;
      grid-column-start: 10;
  grid-column-end: 10;
}

.span-10-11 {
  -ms-grid-column: 10;
      grid-column-start: 10;
  grid-column-end: 11;
}

.span-10-12 {
  -ms-grid-column: 10;
      grid-column-start: 10;
  grid-column-end: 12;
}

.span-10-13 {
  -ms-grid-column: 10;
      grid-column-start: 10;
  grid-column-end: 13;
}

.span-10-14 {
  -ms-grid-column: 10;
      grid-column-start: 10;
  grid-column-end: 14;
}

.span-10-15 {
  -ms-grid-column: 10;
      grid-column-start: 10;
  grid-column-end: 15;
}

.span-10-16 {
  -ms-grid-column: 10;
      grid-column-start: 10;
  grid-column-end: 16;
}

.span-10-17 {
  -ms-grid-column: 10;
      grid-column-start: 10;
  grid-column-end: 17;
}

.span-10-18 {
  -ms-grid-column: 10;
      grid-column-start: 10;
  grid-column-end: 18;
}

.span-10-19 {
  -ms-grid-column: 10;
      grid-column-start: 10;
  grid-column-end: 19;
}

.span-10-20 {
  -ms-grid-column: 10;
      grid-column-start: 10;
  grid-column-end: 20;
}

.span-11-1 {
  -ms-grid-column: 11;
      grid-column-start: 11;
  grid-column-end: 1;
}

.span-11-2 {
  -ms-grid-column: 11;
      grid-column-start: 11;
  grid-column-end: 2;
}

.span-11-3 {
  -ms-grid-column: 11;
      grid-column-start: 11;
  grid-column-end: 3;
}

.span-11-4 {
  -ms-grid-column: 11;
      grid-column-start: 11;
  grid-column-end: 4;
}

.span-11-5 {
  -ms-grid-column: 11;
      grid-column-start: 11;
  grid-column-end: 5;
}

.span-11-6 {
  -ms-grid-column: 11;
      grid-column-start: 11;
  grid-column-end: 6;
}

.span-11-7 {
  -ms-grid-column: 11;
      grid-column-start: 11;
  grid-column-end: 7;
}

.span-11-8 {
  -ms-grid-column: 11;
      grid-column-start: 11;
  grid-column-end: 8;
}

.span-11-9 {
  -ms-grid-column: 11;
      grid-column-start: 11;
  grid-column-end: 9;
}

.span-11-10 {
  -ms-grid-column: 11;
      grid-column-start: 11;
  grid-column-end: 10;
}

.span-11-11 {
  -ms-grid-column: 11;
      grid-column-start: 11;
  grid-column-end: 11;
}

.span-11-12 {
  -ms-grid-column: 11;
      grid-column-start: 11;
  grid-column-end: 12;
}

.span-11-13 {
  -ms-grid-column: 11;
      grid-column-start: 11;
  grid-column-end: 13;
}

.span-11-14 {
  -ms-grid-column: 11;
      grid-column-start: 11;
  grid-column-end: 14;
}

.span-11-15 {
  -ms-grid-column: 11;
      grid-column-start: 11;
  grid-column-end: 15;
}

.span-11-16 {
  -ms-grid-column: 11;
      grid-column-start: 11;
  grid-column-end: 16;
}

.span-11-17 {
  -ms-grid-column: 11;
      grid-column-start: 11;
  grid-column-end: 17;
}

.span-11-18 {
  -ms-grid-column: 11;
      grid-column-start: 11;
  grid-column-end: 18;
}

.span-11-19 {
  -ms-grid-column: 11;
      grid-column-start: 11;
  grid-column-end: 19;
}

.span-11-20 {
  -ms-grid-column: 11;
      grid-column-start: 11;
  grid-column-end: 20;
}

.span-12-1 {
  -ms-grid-column: 12;
      grid-column-start: 12;
  grid-column-end: 1;
}

.span-12-2 {
  -ms-grid-column: 12;
      grid-column-start: 12;
  grid-column-end: 2;
}

.span-12-3 {
  -ms-grid-column: 12;
      grid-column-start: 12;
  grid-column-end: 3;
}

.span-12-4 {
  -ms-grid-column: 12;
      grid-column-start: 12;
  grid-column-end: 4;
}

.span-12-5 {
  -ms-grid-column: 12;
      grid-column-start: 12;
  grid-column-end: 5;
}

.span-12-6 {
  -ms-grid-column: 12;
      grid-column-start: 12;
  grid-column-end: 6;
}

.span-12-7 {
  -ms-grid-column: 12;
      grid-column-start: 12;
  grid-column-end: 7;
}

.span-12-8 {
  -ms-grid-column: 12;
      grid-column-start: 12;
  grid-column-end: 8;
}

.span-12-9 {
  -ms-grid-column: 12;
      grid-column-start: 12;
  grid-column-end: 9;
}

.span-12-10 {
  -ms-grid-column: 12;
      grid-column-start: 12;
  grid-column-end: 10;
}

.span-12-11 {
  -ms-grid-column: 12;
      grid-column-start: 12;
  grid-column-end: 11;
}

.span-12-12 {
  -ms-grid-column: 12;
      grid-column-start: 12;
  grid-column-end: 12;
}

.span-12-13 {
  -ms-grid-column: 12;
      grid-column-start: 12;
  grid-column-end: 13;
}

.span-12-14 {
  -ms-grid-column: 12;
      grid-column-start: 12;
  grid-column-end: 14;
}

.span-12-15 {
  -ms-grid-column: 12;
      grid-column-start: 12;
  grid-column-end: 15;
}

.span-12-16 {
  -ms-grid-column: 12;
      grid-column-start: 12;
  grid-column-end: 16;
}

.span-12-17 {
  -ms-grid-column: 12;
      grid-column-start: 12;
  grid-column-end: 17;
}

.span-12-18 {
  -ms-grid-column: 12;
      grid-column-start: 12;
  grid-column-end: 18;
}

.span-12-19 {
  -ms-grid-column: 12;
      grid-column-start: 12;
  grid-column-end: 19;
}

.span-12-20 {
  -ms-grid-column: 12;
      grid-column-start: 12;
  grid-column-end: 20;
}

.span-13-1 {
  -ms-grid-column: 13;
      grid-column-start: 13;
  grid-column-end: 1;
}

.span-13-2 {
  -ms-grid-column: 13;
      grid-column-start: 13;
  grid-column-end: 2;
}

.span-13-3 {
  -ms-grid-column: 13;
      grid-column-start: 13;
  grid-column-end: 3;
}

.span-13-4 {
  -ms-grid-column: 13;
      grid-column-start: 13;
  grid-column-end: 4;
}

.span-13-5 {
  -ms-grid-column: 13;
      grid-column-start: 13;
  grid-column-end: 5;
}

.span-13-6 {
  -ms-grid-column: 13;
      grid-column-start: 13;
  grid-column-end: 6;
}

.span-13-7 {
  -ms-grid-column: 13;
      grid-column-start: 13;
  grid-column-end: 7;
}

.span-13-8 {
  -ms-grid-column: 13;
      grid-column-start: 13;
  grid-column-end: 8;
}

.span-13-9 {
  -ms-grid-column: 13;
      grid-column-start: 13;
  grid-column-end: 9;
}

.span-13-10 {
  -ms-grid-column: 13;
      grid-column-start: 13;
  grid-column-end: 10;
}

.span-13-11 {
  -ms-grid-column: 13;
      grid-column-start: 13;
  grid-column-end: 11;
}

.span-13-12 {
  -ms-grid-column: 13;
      grid-column-start: 13;
  grid-column-end: 12;
}

.span-13-13 {
  -ms-grid-column: 13;
      grid-column-start: 13;
  grid-column-end: 13;
}

.span-13-14 {
  -ms-grid-column: 13;
      grid-column-start: 13;
  grid-column-end: 14;
}

.span-13-15 {
  -ms-grid-column: 13;
      grid-column-start: 13;
  grid-column-end: 15;
}

.span-13-16 {
  -ms-grid-column: 13;
      grid-column-start: 13;
  grid-column-end: 16;
}

.span-13-17 {
  -ms-grid-column: 13;
      grid-column-start: 13;
  grid-column-end: 17;
}

.span-13-18 {
  -ms-grid-column: 13;
      grid-column-start: 13;
  grid-column-end: 18;
}

.span-13-19 {
  -ms-grid-column: 13;
      grid-column-start: 13;
  grid-column-end: 19;
}

.span-13-20 {
  -ms-grid-column: 13;
      grid-column-start: 13;
  grid-column-end: 20;
}

.span-14-1 {
  -ms-grid-column: 14;
      grid-column-start: 14;
  grid-column-end: 1;
}

.span-14-2 {
  -ms-grid-column: 14;
      grid-column-start: 14;
  grid-column-end: 2;
}

.span-14-3 {
  -ms-grid-column: 14;
      grid-column-start: 14;
  grid-column-end: 3;
}

.span-14-4 {
  -ms-grid-column: 14;
      grid-column-start: 14;
  grid-column-end: 4;
}

.span-14-5 {
  -ms-grid-column: 14;
      grid-column-start: 14;
  grid-column-end: 5;
}

.span-14-6 {
  -ms-grid-column: 14;
      grid-column-start: 14;
  grid-column-end: 6;
}

.span-14-7 {
  -ms-grid-column: 14;
      grid-column-start: 14;
  grid-column-end: 7;
}

.span-14-8 {
  -ms-grid-column: 14;
      grid-column-start: 14;
  grid-column-end: 8;
}

.span-14-9 {
  -ms-grid-column: 14;
      grid-column-start: 14;
  grid-column-end: 9;
}

.span-14-10 {
  -ms-grid-column: 14;
      grid-column-start: 14;
  grid-column-end: 10;
}

.span-14-11 {
  -ms-grid-column: 14;
      grid-column-start: 14;
  grid-column-end: 11;
}

.span-14-12 {
  -ms-grid-column: 14;
      grid-column-start: 14;
  grid-column-end: 12;
}

.span-14-13 {
  -ms-grid-column: 14;
      grid-column-start: 14;
  grid-column-end: 13;
}

.span-14-14 {
  -ms-grid-column: 14;
      grid-column-start: 14;
  grid-column-end: 14;
}

.span-14-15 {
  -ms-grid-column: 14;
      grid-column-start: 14;
  grid-column-end: 15;
}

.span-14-16 {
  -ms-grid-column: 14;
      grid-column-start: 14;
  grid-column-end: 16;
}

.span-14-17 {
  -ms-grid-column: 14;
      grid-column-start: 14;
  grid-column-end: 17;
}

.span-14-18 {
  -ms-grid-column: 14;
      grid-column-start: 14;
  grid-column-end: 18;
}

.span-14-19 {
  -ms-grid-column: 14;
      grid-column-start: 14;
  grid-column-end: 19;
}

.span-14-20 {
  -ms-grid-column: 14;
      grid-column-start: 14;
  grid-column-end: 20;
}

.span-15-1 {
  -ms-grid-column: 15;
      grid-column-start: 15;
  grid-column-end: 1;
}

.span-15-2 {
  -ms-grid-column: 15;
      grid-column-start: 15;
  grid-column-end: 2;
}

.span-15-3 {
  -ms-grid-column: 15;
      grid-column-start: 15;
  grid-column-end: 3;
}

.span-15-4 {
  -ms-grid-column: 15;
      grid-column-start: 15;
  grid-column-end: 4;
}

.span-15-5 {
  -ms-grid-column: 15;
      grid-column-start: 15;
  grid-column-end: 5;
}

.span-15-6 {
  -ms-grid-column: 15;
      grid-column-start: 15;
  grid-column-end: 6;
}

.span-15-7 {
  -ms-grid-column: 15;
      grid-column-start: 15;
  grid-column-end: 7;
}

.span-15-8 {
  -ms-grid-column: 15;
      grid-column-start: 15;
  grid-column-end: 8;
}

.span-15-9 {
  -ms-grid-column: 15;
      grid-column-start: 15;
  grid-column-end: 9;
}

.span-15-10 {
  -ms-grid-column: 15;
      grid-column-start: 15;
  grid-column-end: 10;
}

.span-15-11 {
  -ms-grid-column: 15;
      grid-column-start: 15;
  grid-column-end: 11;
}

.span-15-12 {
  -ms-grid-column: 15;
      grid-column-start: 15;
  grid-column-end: 12;
}

.span-15-13 {
  -ms-grid-column: 15;
      grid-column-start: 15;
  grid-column-end: 13;
}

.span-15-14 {
  -ms-grid-column: 15;
      grid-column-start: 15;
  grid-column-end: 14;
}

.span-15-15 {
  -ms-grid-column: 15;
      grid-column-start: 15;
  grid-column-end: 15;
}

.span-15-16 {
  -ms-grid-column: 15;
      grid-column-start: 15;
  grid-column-end: 16;
}

.span-15-17 {
  -ms-grid-column: 15;
      grid-column-start: 15;
  grid-column-end: 17;
}

.span-15-18 {
  -ms-grid-column: 15;
      grid-column-start: 15;
  grid-column-end: 18;
}

.span-15-19 {
  -ms-grid-column: 15;
      grid-column-start: 15;
  grid-column-end: 19;
}

.span-15-20 {
  -ms-grid-column: 15;
      grid-column-start: 15;
  grid-column-end: 20;
}

.span-16-1 {
  -ms-grid-column: 16;
      grid-column-start: 16;
  grid-column-end: 1;
}

.span-16-2 {
  -ms-grid-column: 16;
      grid-column-start: 16;
  grid-column-end: 2;
}

.span-16-3 {
  -ms-grid-column: 16;
      grid-column-start: 16;
  grid-column-end: 3;
}

.span-16-4 {
  -ms-grid-column: 16;
      grid-column-start: 16;
  grid-column-end: 4;
}

.span-16-5 {
  -ms-grid-column: 16;
      grid-column-start: 16;
  grid-column-end: 5;
}

.span-16-6 {
  -ms-grid-column: 16;
      grid-column-start: 16;
  grid-column-end: 6;
}

.span-16-7 {
  -ms-grid-column: 16;
      grid-column-start: 16;
  grid-column-end: 7;
}

.span-16-8 {
  -ms-grid-column: 16;
      grid-column-start: 16;
  grid-column-end: 8;
}

.span-16-9 {
  -ms-grid-column: 16;
      grid-column-start: 16;
  grid-column-end: 9;
}

.span-16-10 {
  -ms-grid-column: 16;
      grid-column-start: 16;
  grid-column-end: 10;
}

.span-16-11 {
  -ms-grid-column: 16;
      grid-column-start: 16;
  grid-column-end: 11;
}

.span-16-12 {
  -ms-grid-column: 16;
      grid-column-start: 16;
  grid-column-end: 12;
}

.span-16-13 {
  -ms-grid-column: 16;
      grid-column-start: 16;
  grid-column-end: 13;
}

.span-16-14 {
  -ms-grid-column: 16;
      grid-column-start: 16;
  grid-column-end: 14;
}

.span-16-15 {
  -ms-grid-column: 16;
      grid-column-start: 16;
  grid-column-end: 15;
}

.span-16-16 {
  -ms-grid-column: 16;
      grid-column-start: 16;
  grid-column-end: 16;
}

.span-16-17 {
  -ms-grid-column: 16;
      grid-column-start: 16;
  grid-column-end: 17;
}

.span-16-18 {
  -ms-grid-column: 16;
      grid-column-start: 16;
  grid-column-end: 18;
}

.span-16-19 {
  -ms-grid-column: 16;
      grid-column-start: 16;
  grid-column-end: 19;
}

.span-16-20 {
  -ms-grid-column: 16;
      grid-column-start: 16;
  grid-column-end: 20;
}

.span-17-1 {
  -ms-grid-column: 17;
      grid-column-start: 17;
  grid-column-end: 1;
}

.span-17-2 {
  -ms-grid-column: 17;
      grid-column-start: 17;
  grid-column-end: 2;
}

.span-17-3 {
  -ms-grid-column: 17;
      grid-column-start: 17;
  grid-column-end: 3;
}

.span-17-4 {
  -ms-grid-column: 17;
      grid-column-start: 17;
  grid-column-end: 4;
}

.span-17-5 {
  -ms-grid-column: 17;
      grid-column-start: 17;
  grid-column-end: 5;
}

.span-17-6 {
  -ms-grid-column: 17;
      grid-column-start: 17;
  grid-column-end: 6;
}

.span-17-7 {
  -ms-grid-column: 17;
      grid-column-start: 17;
  grid-column-end: 7;
}

.span-17-8 {
  -ms-grid-column: 17;
      grid-column-start: 17;
  grid-column-end: 8;
}

.span-17-9 {
  -ms-grid-column: 17;
      grid-column-start: 17;
  grid-column-end: 9;
}

.span-17-10 {
  -ms-grid-column: 17;
      grid-column-start: 17;
  grid-column-end: 10;
}

.span-17-11 {
  -ms-grid-column: 17;
      grid-column-start: 17;
  grid-column-end: 11;
}

.span-17-12 {
  -ms-grid-column: 17;
      grid-column-start: 17;
  grid-column-end: 12;
}

.span-17-13 {
  -ms-grid-column: 17;
      grid-column-start: 17;
  grid-column-end: 13;
}

.span-17-14 {
  -ms-grid-column: 17;
      grid-column-start: 17;
  grid-column-end: 14;
}

.span-17-15 {
  -ms-grid-column: 17;
      grid-column-start: 17;
  grid-column-end: 15;
}

.span-17-16 {
  -ms-grid-column: 17;
      grid-column-start: 17;
  grid-column-end: 16;
}

.span-17-17 {
  -ms-grid-column: 17;
      grid-column-start: 17;
  grid-column-end: 17;
}

.span-17-18 {
  -ms-grid-column: 17;
      grid-column-start: 17;
  grid-column-end: 18;
}

.span-17-19 {
  -ms-grid-column: 17;
      grid-column-start: 17;
  grid-column-end: 19;
}

.span-17-20 {
  -ms-grid-column: 17;
      grid-column-start: 17;
  grid-column-end: 20;
}

.span-18-1 {
  -ms-grid-column: 18;
      grid-column-start: 18;
  grid-column-end: 1;
}

.span-18-2 {
  -ms-grid-column: 18;
      grid-column-start: 18;
  grid-column-end: 2;
}

.span-18-3 {
  -ms-grid-column: 18;
      grid-column-start: 18;
  grid-column-end: 3;
}

.span-18-4 {
  -ms-grid-column: 18;
      grid-column-start: 18;
  grid-column-end: 4;
}

.span-18-5 {
  -ms-grid-column: 18;
      grid-column-start: 18;
  grid-column-end: 5;
}

.span-18-6 {
  -ms-grid-column: 18;
      grid-column-start: 18;
  grid-column-end: 6;
}

.span-18-7 {
  -ms-grid-column: 18;
      grid-column-start: 18;
  grid-column-end: 7;
}

.span-18-8 {
  -ms-grid-column: 18;
      grid-column-start: 18;
  grid-column-end: 8;
}

.span-18-9 {
  -ms-grid-column: 18;
      grid-column-start: 18;
  grid-column-end: 9;
}

.span-18-10 {
  -ms-grid-column: 18;
      grid-column-start: 18;
  grid-column-end: 10;
}

.span-18-11 {
  -ms-grid-column: 18;
      grid-column-start: 18;
  grid-column-end: 11;
}

.span-18-12 {
  -ms-grid-column: 18;
      grid-column-start: 18;
  grid-column-end: 12;
}

.span-18-13 {
  -ms-grid-column: 18;
      grid-column-start: 18;
  grid-column-end: 13;
}

.span-18-14 {
  -ms-grid-column: 18;
      grid-column-start: 18;
  grid-column-end: 14;
}

.span-18-15 {
  -ms-grid-column: 18;
      grid-column-start: 18;
  grid-column-end: 15;
}

.span-18-16 {
  -ms-grid-column: 18;
      grid-column-start: 18;
  grid-column-end: 16;
}

.span-18-17 {
  -ms-grid-column: 18;
      grid-column-start: 18;
  grid-column-end: 17;
}

.span-18-18 {
  -ms-grid-column: 18;
      grid-column-start: 18;
  grid-column-end: 18;
}

.span-18-19 {
  -ms-grid-column: 18;
      grid-column-start: 18;
  grid-column-end: 19;
}

.span-18-20 {
  -ms-grid-column: 18;
      grid-column-start: 18;
  grid-column-end: 20;
}

.span-19-1 {
  -ms-grid-column: 19;
      grid-column-start: 19;
  grid-column-end: 1;
}

.span-19-2 {
  -ms-grid-column: 19;
      grid-column-start: 19;
  grid-column-end: 2;
}

.span-19-3 {
  -ms-grid-column: 19;
      grid-column-start: 19;
  grid-column-end: 3;
}

.span-19-4 {
  -ms-grid-column: 19;
      grid-column-start: 19;
  grid-column-end: 4;
}

.span-19-5 {
  -ms-grid-column: 19;
      grid-column-start: 19;
  grid-column-end: 5;
}

.span-19-6 {
  -ms-grid-column: 19;
      grid-column-start: 19;
  grid-column-end: 6;
}

.span-19-7 {
  -ms-grid-column: 19;
      grid-column-start: 19;
  grid-column-end: 7;
}

.span-19-8 {
  -ms-grid-column: 19;
      grid-column-start: 19;
  grid-column-end: 8;
}

.span-19-9 {
  -ms-grid-column: 19;
      grid-column-start: 19;
  grid-column-end: 9;
}

.span-19-10 {
  -ms-grid-column: 19;
      grid-column-start: 19;
  grid-column-end: 10;
}

.span-19-11 {
  -ms-grid-column: 19;
      grid-column-start: 19;
  grid-column-end: 11;
}

.span-19-12 {
  -ms-grid-column: 19;
      grid-column-start: 19;
  grid-column-end: 12;
}

.span-19-13 {
  -ms-grid-column: 19;
      grid-column-start: 19;
  grid-column-end: 13;
}

.span-19-14 {
  -ms-grid-column: 19;
      grid-column-start: 19;
  grid-column-end: 14;
}

.span-19-15 {
  -ms-grid-column: 19;
      grid-column-start: 19;
  grid-column-end: 15;
}

.span-19-16 {
  -ms-grid-column: 19;
      grid-column-start: 19;
  grid-column-end: 16;
}

.span-19-17 {
  -ms-grid-column: 19;
      grid-column-start: 19;
  grid-column-end: 17;
}

.span-19-18 {
  -ms-grid-column: 19;
      grid-column-start: 19;
  grid-column-end: 18;
}

.span-19-19 {
  -ms-grid-column: 19;
      grid-column-start: 19;
  grid-column-end: 19;
}

.span-19-20 {
  -ms-grid-column: 19;
      grid-column-start: 19;
  grid-column-end: 20;
}

.span-20-1 {
  -ms-grid-column: 20;
      grid-column-start: 20;
  grid-column-end: 1;
}

.span-20-2 {
  -ms-grid-column: 20;
      grid-column-start: 20;
  grid-column-end: 2;
}

.span-20-3 {
  -ms-grid-column: 20;
      grid-column-start: 20;
  grid-column-end: 3;
}

.span-20-4 {
  -ms-grid-column: 20;
      grid-column-start: 20;
  grid-column-end: 4;
}

.span-20-5 {
  -ms-grid-column: 20;
      grid-column-start: 20;
  grid-column-end: 5;
}

.span-20-6 {
  -ms-grid-column: 20;
      grid-column-start: 20;
  grid-column-end: 6;
}

.span-20-7 {
  -ms-grid-column: 20;
      grid-column-start: 20;
  grid-column-end: 7;
}

.span-20-8 {
  -ms-grid-column: 20;
      grid-column-start: 20;
  grid-column-end: 8;
}

.span-20-9 {
  -ms-grid-column: 20;
      grid-column-start: 20;
  grid-column-end: 9;
}

.span-20-10 {
  -ms-grid-column: 20;
      grid-column-start: 20;
  grid-column-end: 10;
}

.span-20-11 {
  -ms-grid-column: 20;
      grid-column-start: 20;
  grid-column-end: 11;
}

.span-20-12 {
  -ms-grid-column: 20;
      grid-column-start: 20;
  grid-column-end: 12;
}

.span-20-13 {
  -ms-grid-column: 20;
      grid-column-start: 20;
  grid-column-end: 13;
}

.span-20-14 {
  -ms-grid-column: 20;
      grid-column-start: 20;
  grid-column-end: 14;
}

.span-20-15 {
  -ms-grid-column: 20;
      grid-column-start: 20;
  grid-column-end: 15;
}

.span-20-16 {
  -ms-grid-column: 20;
      grid-column-start: 20;
  grid-column-end: 16;
}

.span-20-17 {
  -ms-grid-column: 20;
      grid-column-start: 20;
  grid-column-end: 17;
}

.span-20-18 {
  -ms-grid-column: 20;
      grid-column-start: 20;
  grid-column-end: 18;
}

.span-20-19 {
  -ms-grid-column: 20;
      grid-column-start: 20;
  grid-column-end: 19;
}

.span-20-20 {
  -ms-grid-column: 20;
      grid-column-start: 20;
  grid-column-end: 20;
}

.mt-5 {
  margin-top: 5px;
}

.mr-5 {
  margin-right: 5px;
}

.mb-5 {
  margin-bottom: 5px;
}

.ml-5 {
  margin-left: 5px;
}

.mx-5 {
  margin: 0 5px;
}

.my-5 {
  margin: 5px 0;
}

.m-5 {
  margin: 5px;
}

.pt-5 {
  padding-top: 5px;
}

.pr-5 {
  padding-right: 5px;
}

.pb-5 {
  padding-bottom: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.px-5 {
  padding: 0 5px;
}

.py-5 {
  padding: 5px 0;
}

.p-5 {
  padding: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.mx-10 {
  margin: 0 10px;
}

.my-10 {
  margin: 10px 0;
}

.m-10 {
  margin: 10px;
}

.pt-10 {
  padding-top: 10px;
}

.pr-10 {
  padding-right: 10px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pl-10 {
  padding-left: 10px;
}

.px-10 {
  padding: 0 10px;
}

.py-10 {
  padding: 10px 0;
}

.p-10 {
  padding: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mr-15 {
  margin-right: 15px;
}

.mb-15 {
  margin-bottom: 15px;
}

.ml-15 {
  margin-left: 15px;
}

.mx-15 {
  margin: 0 15px;
}

.my-15 {
  margin: 15px 0;
}

.m-15 {
  margin: 15px;
}

.pt-15 {
  padding-top: 15px;
}

.pr-15 {
  padding-right: 15px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pl-15 {
  padding-left: 15px;
}

.px-15 {
  padding: 0 15px;
}

.py-15 {
  padding: 15px 0;
}

.p-15 {
  padding: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mr-20 {
  margin-right: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.ml-20 {
  margin-left: 20px;
}

.mx-20 {
  margin: 0 20px;
}

.my-20 {
  margin: 20px 0;
}

.m-20 {
  margin: 20px;
}

.pt-20 {
  padding-top: 20px;
}

.pr-20 {
  padding-right: 20px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pl-20 {
  padding-left: 20px;
}

.px-20 {
  padding: 0 20px;
}

.py-20 {
  padding: 20px 0;
}

.p-20 {
  padding: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mr-25 {
  margin-right: 25px;
}

.mb-25 {
  margin-bottom: 25px;
}

.ml-25 {
  margin-left: 25px;
}

.mx-25 {
  margin: 0 25px;
}

.my-25 {
  margin: 25px 0;
}

.m-25 {
  margin: 25px;
}

.pt-25 {
  padding-top: 25px;
}

.pr-25 {
  padding-right: 25px;
}

.pb-25 {
  padding-bottom: 25px;
}

.pl-25 {
  padding-left: 25px;
}

.px-25 {
  padding: 0 25px;
}

.py-25 {
  padding: 25px 0;
}

.p-25 {
  padding: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.mr-30 {
  margin-right: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.ml-30 {
  margin-left: 30px;
}

.mx-30 {
  margin: 0 30px;
}

.my-30 {
  margin: 30px 0;
}

.m-30 {
  margin: 30px;
}

.pt-30 {
  padding-top: 30px;
}

.pr-30 {
  padding-right: 30px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pl-30 {
  padding-left: 30px;
}

.px-30 {
  padding: 0 30px;
}

.py-30 {
  padding: 30px 0;
}

.p-30 {
  padding: 30px;
}

.mt-35 {
  margin-top: 35px;
}

.mr-35 {
  margin-right: 35px;
}

.mb-35 {
  margin-bottom: 35px;
}

.ml-35 {
  margin-left: 35px;
}

.mx-35 {
  margin: 0 35px;
}

.my-35 {
  margin: 35px 0;
}

.m-35 {
  margin: 35px;
}

.pt-35 {
  padding-top: 35px;
}

.pr-35 {
  padding-right: 35px;
}

.pb-35 {
  padding-bottom: 35px;
}

.pl-35 {
  padding-left: 35px;
}

.px-35 {
  padding: 0 35px;
}

.py-35 {
  padding: 35px 0;
}

.p-35 {
  padding: 35px;
}

.mt-40 {
  margin-top: 40px;
}

.mr-40 {
  margin-right: 40px;
}

.mb-40 {
  margin-bottom: 40px;
}

.ml-40 {
  margin-left: 40px;
}

.mx-40 {
  margin: 0 40px;
}

.my-40 {
  margin: 40px 0;
}

.m-40 {
  margin: 40px;
}

.pt-40 {
  padding-top: 40px;
}

.pr-40 {
  padding-right: 40px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pl-40 {
  padding-left: 40px;
}

.px-40 {
  padding: 0 40px;
}

.py-40 {
  padding: 40px 0;
}

.p-40 {
  padding: 40px;
}

.mt-45 {
  margin-top: 45px;
}

.mr-45 {
  margin-right: 45px;
}

.mb-45 {
  margin-bottom: 45px;
}

.ml-45 {
  margin-left: 45px;
}

.mx-45 {
  margin: 0 45px;
}

.my-45 {
  margin: 45px 0;
}

.m-45 {
  margin: 45px;
}

.pt-45 {
  padding-top: 45px;
}

.pr-45 {
  padding-right: 45px;
}

.pb-45 {
  padding-bottom: 45px;
}

.pl-45 {
  padding-left: 45px;
}

.px-45 {
  padding: 0 45px;
}

.py-45 {
  padding: 45px 0;
}

.p-45 {
  padding: 45px;
}

.mt-50 {
  margin-top: 50px;
}

.mr-50 {
  margin-right: 50px;
}

.mb-50 {
  margin-bottom: 50px;
}

.ml-50 {
  margin-left: 50px;
}

.mx-50 {
  margin: 0 50px;
}

.my-50 {
  margin: 50px 0;
}

.m-50 {
  margin: 50px;
}

.pt-50 {
  padding-top: 50px;
}

.pr-50 {
  padding-right: 50px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pl-50 {
  padding-left: 50px;
}

.px-50 {
  padding: 0 50px;
}

.py-50 {
  padding: 50px 0;
}

.p-50 {
  padding: 50px;
}

.m-auto {
  margin: auto;
}

.mx-auto {
  margin: 0 auto;
}

.my-auto {
  margin: auto 0;
}

.p-auto {
  padding: auto;
}

.px-auto {
  padding: 0 auto;
}

.py-auto {
  padding: auto 0;
}
/*# sourceMappingURL=scarab.css.map */