* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  font-family: 'Montserrat-Regular', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

body {
  background-color: #f5f5f5;
  color: #18212f;
}

hr {
  height: 1px;
  color: #c7c7c7;
  background-color: #c7c7c7;
  border: none;
  margin: 0.75rem 0;
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url("../fonts/Montserrat-Regular.eot");
  src: url("../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/Montserrat-Regular.svg#Montserrat-Regular") format("svg");
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
  src: url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.75rem;
  margin-bottom: 0.75rem;
}

h4 {
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
}

h5 {
  font-size: 1.25rem;
  margin-bottom: 0.75rem;
}

h6 {
  font-size: 1rem;
  margin-bottom: 0.75rem;
}

p {
  font-size: 1rem;
  margin-bottom: 0.75rem;
}

mark {
  background-color: yellow;
}

mark.primary {
  background-color: #0808c9;
  color: ghostwhite;
}

mark.secondary {
  background-color: #9e9e9e;
  color: #18212f;
}

mark.info {
  background-color: #51a1ec;
  color: #18212f;
}

mark.success {
  background-color: #05C16C;
  color: ghostwhite;
}

mark.warn {
  background-color: #E1BB22;
  color: ghostwhite;
}

mark.error {
  background-color: #E90000;
  color: ghostwhite;
}

pre, code {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 0.75rem;
}

code {
  background-color: #e8e8e8;
  color: #E90000;
  font-weight: 500;
  padding: 0.3rem;
}

.upper {
  text-transform: uppercase;
}

.lower {
  text-transform: lowercase;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.strike {
  text-decoration: line-through;
}

button, input[type=button], input[type=submit], a.button {
  background-color: #e1e1e1;
  color: #18212f;
  font-family: 'Montserrat-Regular', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  border-width: 0;
  border-radius: 4px;
  font-size: 1rem;
  padding: 0.4rem 0.7rem;
  cursor: pointer;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
}

button:hover, input:hover[type=button], input:hover[type=submit], a.button:hover {
  background-color: #d1d1d1;
}

button.square, input.square[type=button], input.square[type=submit], a.square.button {
  border-radius: 0px;
}

button.pill, input.pill[type=button], input.pill[type=submit], a.pill.button {
  border-radius: 20px;
}

button.primary, input.primary[type=button], input.primary[type=submit], a.primary.button {
  background-color: #0808c9;
  border: 1px solid #0808c9;
  color: ghostwhite;
}

button.primary:hover, input.primary:hover[type=button], input.primary:hover[type=submit], a.primary.button:hover {
  background-color: #0707ac;
}

button.secondary, input.secondary[type=button], input.secondary[type=submit], a.secondary.button {
  background-color: #9e9e9e;
  border: 1px solid #9e9e9e;
  color: #18212f;
}

button.secondary:hover, input.secondary:hover[type=button], input.secondary:hover[type=submit], a.secondary.button:hover {
  background-color: #8f8f8f;
}

button.info, input.info[type=button], input.info[type=submit], a.info.button {
  background-color: #51a1ec;
  border: 1px solid #51a1ec;
  color: #18212f;
}

button.info:hover, input.info:hover[type=button], input.info:hover[type=submit], a.info.button:hover {
  background-color: #3592e9;
}

button.success, input.success[type=button], input.success[type=submit], a.success.button {
  background-color: #05C16C;
  border: 1px solid #05C16C;
  color: ghostwhite;
}

button.success:hover, input.success:hover[type=button], input.success:hover[type=submit], a.success.button:hover {
  background-color: #04a35b;
}

button.warn, input.warn[type=button], input.warn[type=submit], a.warn.button {
  background-color: #E1BB22;
  border: 1px solid #E1BB22;
  color: #18212f;
}

button.warn:hover, input.warn:hover[type=button], input.warn:hover[type=submit], a.warn.button:hover {
  background-color: #c9a71b;
}

button.error, input.error[type=button], input.error[type=submit], a.error.button {
  background-color: #E90000;
  border: 1px solid #E90000;
  color: ghostwhite;
}

button.error:hover, input.error:hover[type=button], input.error:hover[type=submit], a.error.button:hover {
  background-color: #ca0000;
}

button.light, input.light[type=button], input.light[type=submit], a.light.button {
  background-color: #f5f5f5;
  border: 1px solid #f5f5f5;
  color: #18212f;
}

button.light:hover, input.light:hover[type=button], input.light:hover[type=submit], a.light.button:hover {
  background-color: #e6e6e6;
}

button.dark, input.dark[type=button], input.dark[type=submit], a.dark.button {
  background-color: #18212f;
  border: 1px solid #18212f;
  color: ghostwhite;
}

button.dark:hover, input.dark:hover[type=button], input.dark:hover[type=submit], a.dark.button:hover {
  background-color: #0e131b;
}

button.small, input.small[type=button], input.small[type=submit], a.small.button {
  font-size: 0.75rem;
  padding: 0.2rem 0.5rem;
}

button.large, input.large[type=button], input.large[type=submit], a.large.button {
  font-size: 1.25rem;
  padding: 0.6rem 0.9rem;
}

a.button {
  text-decoration: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
}

table thead tr {
  border-bottom: 1px solid #18212f;
}

table tbody tr {
  border-bottom: 1px solid #c7c7c7;
}

table tbody tr:last-child {
  border-bottom-width: 0;
}

table td, table th {
  text-align: left;
  padding: 0.75rem;
}

table th {
  font-weight: bold;
}

table.striped tbody tr:nth-child(odd) {
  background-color: #e8e8e8;
}

table.slim td, table.slim th {
  padding: 0.25rem;
}

table.primary thead th {
  background-color: #0808c9;
  color: ghostwhite;
}

table.secondary thead th {
  background-color: #9e9e9e;
  color: #18212f;
}

table.info thead th {
  background-color: #51a1ec;
  color: #18212f;
}

table.success thead th {
  background-color: #05C16C;
  color: ghostwhite;
}

table.warn thead th {
  background-color: #E1BB22;
  color: #18212f;
}

table.error thead th {
  background-color: #E90000;
  color: ghostwhite;
}

table.light thead th {
  background-color: #f5f5f5;
  color: #18212f;
}

table.dark thead th {
  background-color: #18212f;
  color: ghostwhite;
}

.card {
  background-color: white;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  margin: 1.2rem;
  padding: 0.9rem 1rem;
}

.card.primary {
  border-bottom: 3px solid #0808c9;
}

.card.secondary {
  border-bottom: 3px solid #9e9e9e;
}

.card.info {
  border-bottom: 3px solid #51a1ec;
}

.card.success {
  border-bottom: 3px solid #05C16C;
}

.card.warn {
  border-bottom: 3px solid #E1BB22;
}

.card.error {
  border-bottom: 3px solid #E90000;
}

.card.light {
  border-bottom: 3px solid gainsboro;
  color: #18212f;
}

.card.dark {
  background-color: #18212f;
  color: ghostwhite;
}

.card .card-head {
  width: auto;
  border-bottom: 1px solid #c7c7c7;
}

.card .card-head h3 {
  font-size: 1.25rem;
}

.card .card-body {
  padding: 0.5rem;
}

.card .card-foot, .card .card-foot.two, .card .card-foot.three {
  border-top: 1px solid #c7c7c7;
  padding: 0.75rem 0 0 0;
  display: -ms-grid;
  display: grid;
}

.card .two.card-foot {
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.card .three.card-foot {
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.card .card-foot .foot-left, .card .card-foot .card-foot-left {
  text-align: left;
}

.card .card-foot.left {
  text-align: left;
}

.card .card-foot .foot-right, .card .card-foot .card-foot-right {
  text-align: right;
}

.card .card-foot.right {
  text-align: right;
}

.card .card-foot .foot-center, .card .card-foot .card-foot-center {
  text-align: center;
}

.card .card-foot.center {
  text-align: center;
}

.badge {
  background-color: #e1e1e1;
  color: #18212f;
  border-radius: 4px;
  font-size: 0.75rem;
  padding: 0.2rem 0.5rem;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.badge.square {
  border-radius: 0px;
}

.badge.pill {
  border-radius: 20px;
}

.badge.primary {
  background-color: #0808c9;
  color: ghostwhite;
}

.badge.secondary {
  background-color: #9e9e9e;
  color: #18212f;
}

.badge.info {
  background-color: #51a1ec;
  color: #18212f;
}

.badge.success {
  background-color: #05C16C;
  color: ghostwhite;
}

.badge.warn {
  background-color: #E1BB22;
  color: #18212f;
}

.badge.error {
  background-color: #E90000;
  color: ghostwhite;
}

.badge.light {
  background-color: #f5f5f5;
  color: #18212f;
}

.badge.dark {
  background-color: #18212f;
  color: ghostwhite;
}

.badge.small {
  font-size: 0.7rem;
  padding: 0.05rem 0.3rem;
}

.badge.large {
  font-size: 0.85rem;
  padding: 0.3rem 0.6rem;
}

input[type=text], input[type=number], input[type=date], input[type=datetime], input[type=color], input[type=radio], input[type=checkbox], select {
  border: 1px solid #d4d4d4;
  border-radius: 3px;
  padding: 0.25rem;
}

.form-group {
  margin: 0 0.25rem 0.5rem 0.25rem;
}

.form-group label {
  display: block;
}

.form-group-col {
  margin: 0 0.25rem 0.5rem 0.25rem;
}

.form-group-col label {
  display: inline;
  margin-right: 5px;
}

.message {
  border-width: 0 0 0 3px;
  border-style: solid;
  border-radius: 3px;
  margin-bottom: 0.75rem;
  padding: 1rem;
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}

.message.primary {
  border-color: #0808c9;
}

.message.secondary {
  border-color: #9e9e9e;
}

.message.info {
  border-color: #51a1ec;
}

.message.success {
  border-color: #05C16C;
}

.message.warn {
  border-color: #E1BB22;
}

.message.error {
  border-color: #E90000;
}

.message.light {
  border-color: gainsboro;
}

.message.dark {
  border-color: #18212f;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
}

.margin-5 {
  margin: 5px;
}

.margin-top-5 {
  margin-top: 5px;
}

.margin-right-5 {
  margin-right: 5px;
}

.margin-bottom-5 {
  margin-bottom: 5px;
}

.margin-left-5 {
  margin-left: 5px;
}

.padding-5 {
  padding: 5px;
}

.padding-top-5 {
  padding-top: 5px;
}

.padding-right-5 {
  padding-right: 5px;
}

.padding-bottom-5 {
  padding-bottom: 5px;
}

.padding-left-5 {
  padding-left: 5px;
}

.margin-10 {
  margin: 10px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-right-10 {
  margin-right: 10px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-left-10 {
  margin-left: 10px;
}

.padding-10 {
  padding: 10px;
}

.padding-top-10 {
  padding-top: 10px;
}

.padding-right-10 {
  padding-right: 10px;
}

.padding-bottom-10 {
  padding-bottom: 10px;
}

.padding-left-10 {
  padding-left: 10px;
}

.margin-15 {
  margin: 15px;
}

.margin-top-15 {
  margin-top: 15px;
}

.margin-right-15 {
  margin-right: 15px;
}

.margin-bottom-15 {
  margin-bottom: 15px;
}

.margin-left-15 {
  margin-left: 15px;
}

.padding-15 {
  padding: 15px;
}

.padding-top-15 {
  padding-top: 15px;
}

.padding-right-15 {
  padding-right: 15px;
}

.padding-bottom-15 {
  padding-bottom: 15px;
}

.padding-left-15 {
  padding-left: 15px;
}

.margin-20 {
  margin: 20px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-right-20 {
  margin-right: 20px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-left-20 {
  margin-left: 20px;
}

.padding-20 {
  padding: 20px;
}

.padding-top-20 {
  padding-top: 20px;
}

.padding-right-20 {
  padding-right: 20px;
}

.padding-bottom-20 {
  padding-bottom: 20px;
}

.padding-left-20 {
  padding-left: 20px;
}

.margin-25 {
  margin: 25px;
}

.margin-top-25 {
  margin-top: 25px;
}

.margin-right-25 {
  margin-right: 25px;
}

.margin-bottom-25 {
  margin-bottom: 25px;
}

.margin-left-25 {
  margin-left: 25px;
}

.padding-25 {
  padding: 25px;
}

.padding-top-25 {
  padding-top: 25px;
}

.padding-right-25 {
  padding-right: 25px;
}

.padding-bottom-25 {
  padding-bottom: 25px;
}

.padding-left-25 {
  padding-left: 25px;
}

.margin-30 {
  margin: 30px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-right-30 {
  margin-right: 30px;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.margin-left-30 {
  margin-left: 30px;
}

.padding-30 {
  padding: 30px;
}

.padding-top-30 {
  padding-top: 30px;
}

.padding-right-30 {
  padding-right: 30px;
}

.padding-bottom-30 {
  padding-bottom: 30px;
}

.padding-left-30 {
  padding-left: 30px;
}

.margin-35 {
  margin: 35px;
}

.margin-top-35 {
  margin-top: 35px;
}

.margin-right-35 {
  margin-right: 35px;
}

.margin-bottom-35 {
  margin-bottom: 35px;
}

.margin-left-35 {
  margin-left: 35px;
}

.padding-35 {
  padding: 35px;
}

.padding-top-35 {
  padding-top: 35px;
}

.padding-right-35 {
  padding-right: 35px;
}

.padding-bottom-35 {
  padding-bottom: 35px;
}

.padding-left-35 {
  padding-left: 35px;
}

.margin-40 {
  margin: 40px;
}

.margin-top-40 {
  margin-top: 40px;
}

.margin-right-40 {
  margin-right: 40px;
}

.margin-bottom-40 {
  margin-bottom: 40px;
}

.margin-left-40 {
  margin-left: 40px;
}

.padding-40 {
  padding: 40px;
}

.padding-top-40 {
  padding-top: 40px;
}

.padding-right-40 {
  padding-right: 40px;
}

.padding-bottom-40 {
  padding-bottom: 40px;
}

.padding-left-40 {
  padding-left: 40px;
}

.margin-45 {
  margin: 45px;
}

.margin-top-45 {
  margin-top: 45px;
}

.margin-right-45 {
  margin-right: 45px;
}

.margin-bottom-45 {
  margin-bottom: 45px;
}

.margin-left-45 {
  margin-left: 45px;
}

.padding-45 {
  padding: 45px;
}

.padding-top-45 {
  padding-top: 45px;
}

.padding-right-45 {
  padding-right: 45px;
}

.padding-bottom-45 {
  padding-bottom: 45px;
}

.padding-left-45 {
  padding-left: 45px;
}

.margin-50 {
  margin: 50px;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-right-50 {
  margin-right: 50px;
}

.margin-bottom-50 {
  margin-bottom: 50px;
}

.margin-left-50 {
  margin-left: 50px;
}

.padding-50 {
  padding: 50px;
}

.padding-top-50 {
  padding-top: 50px;
}

.padding-right-50 {
  padding-right: 50px;
}

.padding-bottom-50 {
  padding-bottom: 50px;
}

.padding-left-50 {
  padding-left: 50px;
}

.m-1 {
  margin: 0.25rem;
}

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mr-1 {
  margin-right: 0.25rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.ml-1 {
  margin-left: 0.25rem;
}

.p-1 {
  padding: 0.25rem;
}

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.pt-1 {
  padding-top: 0.25rem;
}

.pr-1 {
  padding-right: 0.25rem;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.pl-1 {
  padding-left: 0.25rem;
}

.m-2 {
  margin: 0.5rem;
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.p-2 {
  padding: 0.5rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.m-3 {
  margin: 0.75rem;
}

.mx-3 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mr-3 {
  margin-right: 0.75rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.ml-3 {
  margin-left: 0.75rem;
}

.p-3 {
  padding: 0.75rem;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.pt-3 {
  padding-top: 0.75rem;
}

.pr-3 {
  padding-right: 0.75rem;
}

.pb-3 {
  padding-bottom: 0.75rem;
}

.pl-3 {
  padding-left: 0.75rem;
}

.m-4 {
  margin: 1rem;
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mr-4 {
  margin-right: 1rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.ml-4 {
  margin-left: 1rem;
}

.p-4 {
  padding: 1rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.pt-4 {
  padding-top: 1rem;
}

.pr-4 {
  padding-right: 1rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.pl-4 {
  padding-left: 1rem;
}

.m-5 {
  margin: 1.25rem;
}

.mx-5 {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.my-5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mr-5 {
  margin-right: 1.25rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.ml-5 {
  margin-left: 1.25rem;
}

.p-5 {
  padding: 1.25rem;
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.pt-5 {
  padding-top: 1.25rem;
}

.pr-5 {
  padding-right: 1.25rem;
}

.pb-5 {
  padding-bottom: 1.25rem;
}

.pl-5 {
  padding-left: 1.25rem;
}
/*# sourceMappingURL=scarab.css.map */