* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  color: #222;
}

hr {
  height: 1px;
  color: #cfcfcf;
  background-color: #cfcfcf;
  border: none;
  margin: 0.75rem 0;
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url("../fonts/Montserrat-Regular.eot");
  src: url("../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/Montserrat-Regular.svg#Montserrat-Regular") format("svg");
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
  src: url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Montserrat-Regular', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.75rem;
  margin-bottom: 0.75rem;
}

h4 {
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
}

h5 {
  font-size: 1.25rem;
  margin-bottom: 0.75rem;
}

h6 {
  font-size: 1rem;
  margin-bottom: 0.75rem;
}

p {
  font-size: 1rem;
  margin-bottom: 0.75rem;
}

mark {
  background-color: yellow;
}

mark.primary {
  background-color: #0808c9;
  color: #f5f5f5;
}

mark.secondary {
  background-color: #9e9e9e;
  color: #222;
}

mark.info {
  background-color: #51a1ec;
  color: #222;
}

mark.success {
  background-color: #05C16C;
  color: #f5f5f5;
}

mark.warn {
  background-color: #E1BB22;
  color: #f5f5f5;
}

mark.error {
  background-color: #E90000;
  color: #f5f5f5;
}

pre, code {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 0.75rem;
}

code {
  background-color: #e8e8e8;
  color: #E90000;
  font-weight: 500;
  padding: 0.3rem;
}

.upper {
  text-transform: uppercase;
}

.lower {
  text-transform: lowercase;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.strike {
  text-decoration: line-through;
}

button, input[type=button], input[type=submit], a.button {
  background-color: #e8e8e8;
  color: #222;
  font-family: 'Montserrat-Regular', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  font-size: 1rem;
  padding: 0.4rem 0.7rem;
  cursor: pointer;
}

button:hover, input:hover[type=button], input:hover[type=submit], a.button:hover {
  background-color: #d9d9d9;
}

button.square, input.square[type=button], input.square[type=submit], a.square.button {
  border-radius: 0px;
}

button.pill, input.pill[type=button], input.pill[type=submit], a.pill.button {
  border-radius: 20px;
}

button.primary, input.primary[type=button], input.primary[type=submit], a.primary.button {
  background-color: #0808c9;
  border: 1px solid #0808c9;
  color: #f5f5f5;
}

button.primary:hover, input.primary:hover[type=button], input.primary:hover[type=submit], a.primary.button:hover {
  background-color: #0707ac;
}

button.secondary, input.secondary[type=button], input.secondary[type=submit], a.secondary.button {
  background-color: #9e9e9e;
  border: 1px solid #9e9e9e;
  color: #222;
}

button.secondary:hover, input.secondary:hover[type=button], input.secondary:hover[type=submit], a.secondary.button:hover {
  background-color: #8f8f8f;
}

button.info, input.info[type=button], input.info[type=submit], a.info.button {
  background-color: #51a1ec;
  border: 1px solid #51a1ec;
  color: #222;
}

button.info:hover, input.info:hover[type=button], input.info:hover[type=submit], a.info.button:hover {
  background-color: #3592e9;
}

button.success, input.success[type=button], input.success[type=submit], a.success.button {
  background-color: #05C16C;
  border: 1px solid #05C16C;
  color: #f5f5f5;
}

button.success:hover, input.success:hover[type=button], input.success:hover[type=submit], a.success.button:hover {
  background-color: #04a35b;
}

button.warn, input.warn[type=button], input.warn[type=submit], a.warn.button {
  background-color: #E1BB22;
  border: 1px solid #E1BB22;
  color: #222;
}

button.warn:hover, input.warn:hover[type=button], input.warn:hover[type=submit], a.warn.button:hover {
  background-color: #c9a71b;
}

button.error, input.error[type=button], input.error[type=submit], a.error.button {
  background-color: #E90000;
  border: 1px solid #E90000;
  color: #f5f5f5;
}

button.error:hover, input.error:hover[type=button], input.error:hover[type=submit], a.error.button:hover {
  background-color: #ca0000;
}

button.light, input.light[type=button], input.light[type=submit], a.light.button {
  background-color: #f5f5f5;
  border: 1px solid #f5f5f5;
  color: #222;
}

button.light:hover, input.light:hover[type=button], input.light:hover[type=submit], a.light.button:hover {
  background-color: #e6e6e6;
}

button.dark, input.dark[type=button], input.dark[type=submit], a.dark.button {
  background-color: #222;
  border: 1px solid #222;
  color: #f5f5f5;
}

button.dark:hover, input.dark:hover[type=button], input.dark:hover[type=submit], a.dark.button:hover {
  background-color: #131313;
}

button.small, input.small[type=button], input.small[type=submit], a.small.button {
  font-size: 0.75rem;
  padding: 0.2rem 0.5rem;
}

button.large, input.large[type=button], input.large[type=submit], a.large.button {
  font-size: 1.25rem;
  padding: 0.6rem 0.9rem;
}

a.button {
  text-decoration: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
}

table thead tr {
  border-bottom: 1px solid #222;
}

table tbody tr {
  border-bottom: 1px solid #cfcfcf;
}

table tbody tr:last-child {
  border-bottom-width: 0;
}

table td, table th {
  text-align: left;
  padding: 0.75rem;
}

table th {
  font-weight: bold;
}

table.striped tbody tr:nth-child(odd) {
  background-color: #e8e8e8;
}

table.slim td, table.slim th {
  padding: 0.25rem;
}

table.primary thead th {
  background-color: #0808c9;
  color: #f5f5f5;
}

table.secondary thead th {
  background-color: #9e9e9e;
  color: #222;
}

table.info thead th {
  background-color: #51a1ec;
  color: #222;
}

table.success thead th {
  background-color: #05C16C;
  color: #f5f5f5;
}

table.warn thead th {
  background-color: #E1BB22;
  color: #222;
}

table.error thead th {
  background-color: #E90000;
  color: #f5f5f5;
}

table.light thead th {
  background-color: #f5f5f5;
  color: #222;
}

table.dark thead th {
  background-color: #222;
  color: #f5f5f5;
}

.card {
  background-color: white;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  margin: 1rem;
  padding: 1rem;
}

.card .head {
  width: auto;
  border-bottom: 1px solid #cfcfcf;
}

.card .head h3 {
  font-size: 1.25rem;
}

.card .body {
  padding: 0.5rem;
}

.card .foot {
  border-top: 1px solid #cfcfcf;
  padding: 0.75rem 0.75rem 0 0;
}

.badge {
  background-color: #e8e8e8;
  color: #222;
  border-radius: 4px;
  font-size: 0.75rem;
  padding: 0.2rem 0.5rem;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.badge.square {
  border-radius: 0px;
}

.badge.pill {
  border-radius: 20px;
}

.badge.primary {
  background-color: #0808c9;
  color: #f5f5f5;
}

.badge.secondary {
  background-color: #9e9e9e;
  color: #222;
}

.badge.info {
  background-color: #51a1ec;
  color: #222;
}

.badge.success {
  background-color: #05C16C;
  color: #f5f5f5;
}

.badge.warn {
  background-color: #E1BB22;
  color: #222;
}

.badge.error {
  background-color: #E90000;
  color: #f5f5f5;
}

.badge.light {
  background-color: #f5f5f5;
  color: #222;
}

.badge.dark {
  background-color: #222;
  color: #f5f5f5;
}

.badge.small {
  font-size: 0.7rem;
  padding: 0.05rem 0.3rem;
}

.badge.large {
  font-size: 0.85rem;
  padding: 0.3rem 0.6rem;
}

input[type=text], input[type=number], input[type=date], input[type=datetime], input[type=color], input[type=radio], input[type=checkbox], select {
  border: 1px solid gainsboro;
  border-radius: 3px;
  padding: 0.25rem;
}

.form-group {
  margin: 0 0.25rem 0.5rem 0.25rem;
}

.form-group label {
  display: block;
}

.form-group-col {
  margin: 0 0.25rem 0.5rem 0.25rem;
}

.form-group-col label {
  display: inline;
  margin-right: 5px;
}

.message {
  border-width: 0 0 0 3px;
  border-style: solid;
  border-radius: 3px;
  margin-bottom: 0.75rem;
  padding: 1rem;
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}

.message.primary {
  border-color: #0808c9;
}

.message.secondary {
  border-color: #9e9e9e;
}

.message.info {
  border-color: #51a1ec;
}

.message.success {
  border-color: #05C16C;
}

.message.warn {
  border-color: #E1BB22;
}

.message.error {
  border-color: #E90000;
}

.message.light {
  border-color: gainsboro;
}

.message.dark {
  border-color: #222;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
}
/*# sourceMappingURL=scarab.css.map */