body:not(.dark) table thead tr {
  border-bottom: 1px solid #d6d6d6; }

body:not(.dark) table tbody tr {
  border-bottom: 1px solid #d6d6d6; }

body:not(.dark) table.sc-table--bg tbody td, body:not(.dark) table.sc-table--bg tbody th {
  background-color: #e8e8e8; }

body:not(.dark) table.sc-table--striped tbody tr:nth-child(odd) {
  background-color: #e8e8e8;
  color: #212121; }

body.dark table thead tr {
  border-bottom: 1px solid #404040; }

body.dark table tbody tr {
  border-bottom: 1px solid #404040; }

body.dark table.sc-table--bg tbody td, body.dark table.sc-table--bg tbody th {
  background-color: #2e2e2e; }

body.dark table.sc-table--striped tbody tr:nth-child(odd) {
  background-color: #2e2e2e;
  color: #f5f5f5; }

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem; }
  table thead tr {
    border-bottom: 1px solid #212121; }
  table tbody tr {
    border-bottom: 1px solid #c7c7c7; }
  table tbody tr:last-child {
    border-bottom-width: 0; }
  table td, table th {
    text-align: left;
    padding: 0.75rem; }
  table th {
    font-weight: bold; }
  table.sc-table--slim td, table.sc-table--slim th {
    padding: 0.25rem; }
  table.sc-table--primary thead th {
    background-color: #0808c9;
    color: #f5f5f5; }
  table.sc-table--secondary thead th {
    background-color: #9e9e9e;
    color: #212121; }
  table.sc-table--info thead th {
    background-color: #51a1ec;
    color: #212121; }
  table.sc-table--success thead th {
    background-color: #05C16C;
    color: #f5f5f5; }
  table.sc-table--warn thead th {
    background-color: #E1BB22;
    color: #212121; }
  table.sc-table--error thead th {
    background-color: #E90000;
    color: #f5f5f5; }
  table.sc-table--light thead th {
    background-color: #f5f5f5;
    color: #212121; }
  table.sc-table--dark thead th {
    background-color: #212121;
    color: #f5f5f5; }
