@import 'variables';
@import 'mixins';
    
body {
    &:not(.sc-dark) {
        .sc-card {
            background-color: #fff;
            color: set-color(#fff);
        }
    }
    &.sc-dark {
        .sc-card {
            background-color: lighten($bg-dark, 5%);
            color: set-color(lighten($bg-dark, 5%));
        }
    }
}

body {
    .sc-card {
        border-radius: 3px;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
        margin: 1.2rem;

        &.sc-card {
            &--primary {
                background-color: $primary;
                color: set-color($primary);;
            }
            &--primary-border {
                border-bottom: 3px solid $primary;
            }
    
            &--secondary {
                background-color: $secondary;
                color: set-color($secondary);
            }
            &--secondary-border {
                border-bottom: 3px solid $secondary;
            }
    
            &--info {
                background-color: $info;
                color: set-color($info);
            }
            &--info-border {
                border-bottom: 3px solid $info;
            }
    
            &--success {
                background-color: $success;
                color: set-color($success);
            }
            &--success-border {
                border-bottom: 3px solid $success;
            }
    
            &--warn {
                background-color: $warn;
                color: set-color($warn);
            }
            &--warn-border {
                border-bottom: 3px solid $warn;
            }
    
            &--error {
                background-color: $error;
                color: set-color($error);
            }
            &--error-border {
                border-bottom: 3px solid $error;
            }
    
            &--light {
                border-bottom: 3px solid darken($bg-light, 10%);
                color: set-color(darken($bg-light, 10%));
            }
            &--light-border {
                border-bottom: 3px solid $bg-light;
            }
    
            &--dark {
                background-color: lighten($bg-dark, 10%);
                color: set-color(lighten($bg-dark, 10%));
            }
            &--dark-border {
                border-bottom: 3px solid $bg-dark;
            }
        }
        
        &__head {
            width: auto;
            border-bottom: 1px solid $table-border;
            padding: 0.9rem 1rem;

            h3 {
                font-size: 1.25rem;
                margin-bottom: 0;
            }
        }

        &__body {
            padding: 0.9rem 1rem;
        }

        &__foot {
            border-top: 1px solid $table-border;
            padding: 0.9rem 1rem;
            display: grid;

            &.double {
                @extend .sc-card__foot;
                grid-template-columns: 1fr 1fr;
            }

            &.triple {
                @extend .sc-card__foot;
                grid-template-columns: 1fr 1fr 1fr;
            }

            .foot-left {
                text-align: left;
            }

            &.left {
                text-align: left;
            }

            &-left {
                @extend .foot-left;
            }

            .foot-right {
                text-align: right;
            }

            &.right {
                text-align: right;
            }

            &-right {
                @extend .foot-right;
            }

            .foot-center {
                text-align: center;
            }

            &.center {
                text-align: center;
            }

            &-center {
                @extend .foot-center;
            }
        }
    }
}
    