@import 'variables';
@import 'mixins';

body {
    &:not(.dark) {
        .sc-message {
            // $self: &;
            background-color: #fff;
            color: set-color(#fff);

            &--info {
                color: darken($info, 20%);
            }
            &--success {
                color: darken($success, 20%);
            }
            &--warn {
                color: darken($warn, 20%);
            }
            &--error {
                color: darken($error, 20%);
            }
            &--light {
                color: darken($bg-light, 20%);
            }
        }
    }
    &.dark {
        .sc-message {
            background-color: lighten($bg-dark, 5%);
            color: set-color(lighten($bg-dark, 5%));

            &.info {
                color: lighten($info, 30%);
            }
            &.success {
                color: lighten($success, 30%);
            }
            &.warn {
                color: lighten($warn, 30%);
            }
            &.error {
                color: lighten($error, 30%);
            }
            &.light {
                color: lighten($bg-light, 30%);
            }
        }
    }
}

body {
    .sc-message {
        border-width: 0 0 0 3px;
        border-style: solid;
        border-radius: 3px;
        margin-bottom: 0.75rem;
        padding: 1rem;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);

        &--rounded {
            border-radius: 10px;
        }

        &--primary {
            border-color: $primary;

            .sc-message--title {
                border-bottom: 1px solid desaturate($primary, 50%);
                padding-bottom: 10px;
            }
        }
        &--secondary {
            border-color: $secondary;

            .sc-message--title {
                border-bottom: 1px solid desaturate($secondary);
                padding-bottom: 10px;
            }
        }
        &--info {
            border-color: $info;

            .sc-message--title {
                border-bottom: 1px solid desaturate($info);
                padding-bottom: 10px;
            }
        }
        &--success {
            border-color: $success;

            .sc-message--title {
                border-bottom: 1px solid desaturate($success);
                padding-bottom: 10px;
            }
        }
        &--warn {
            border-color: $warn;

            .sc-message--title {
                border-bottom: 1px solid desaturate($warn);
                padding-bottom: 10px;
            }
        }
        &--error {
            border-color: $error;

            .sc-message--title {
                border-bottom: 1px solid desaturate($error);
                padding-bottom: 10px;
            }
        }
        &--light {
            border-color: darken($bg-light, 10%);

            .sc-message--title {
                border-bottom: 1px desaturate(solid darken($bg-light, 10%));
                padding-bottom: 10px;
            }
        }
        &--dark {
            border-color: $bg-dark;

            .sc-message--title {
                border-bottom: 1px solid desaturate($bg-dark);
                padding-bottom: 10px;
            }
        }
    }
}