@import 'variables';
@import 'mixins';

body {
    &:not(.dark) {
        .sc-message {
            // $self: &;
            background-color: #fff;
            color: set-color(#fff);

            &--info {
                color: darken($info, 20%);
            }
            &--success {
                color: darken($success, 20%);
            }
            &--warn {
                color: darken($warn, 20%);
            }
            &--error {
                color: darken($error, 20%);
            }
            &--light {
                color: darken($bg-light, 20%);
            }
        }
    }
    &.dark {
        .sc-message {
            background-color: lighten($bg-dark, 5%);
            color: set-color(lighten($bg-dark, 5%));

            &.info {
                color: lighten($info, 30%);
            }
            &.success {
                color: lighten($success, 30%);
            }
            &.warn {
                color: lighten($warn, 30%);
            }
            &.error {
                color: lighten($error, 30%);
            }
            &.light {
                color: lighten($bg-light, 30%);
            }
        }
    }
}

body {
    .message {
        border-width: 0 0 0 3px;
        border-style: solid;
        border-radius: 3px;
        margin-bottom: 0.75rem;
        padding: 1rem;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);

        &.primary {
            border-color: $primary;
        }
        &.secondary {
            border-color: $secondary;
        }
        &.info {
            border-color: $info;
        }
        &.success {
            border-color: $success;
        }
        &.warn {
            border-color: $warn;
        }
        &.error {
            border-color: $error;
        }
        &.light {
            border-color: darken($bg-light, 10%);
        }
        &.dark {
            border-color: $bg-dark;
        }
    }
}