@import variables
@import mixins

button
    background-color: $bg-button
    @include set-text-color($bg-button)
    @include default-font
    border-width: 0
    border-radius: 4px
    font-size: 1rem
    padding: 0.4rem 0.7rem
    cursor: pointer
    transition: background-color .2s
    &:hover
        @include darken-6($bg-button)

    &.square
        border-radius: 0px;

    &.pill
        border-radius: 20px;

    &.primary
        background-color: $primary
        border: 1px solid $primary
        @include set-text-color($primary)
        &:hover
            @include darken-6($primary)

    &.secondary
        background-color: $secondary
        border: 1px solid $secondary
        @include set-text-color($secondary)
        &:hover
            @include darken-6($secondary)

    &.info
        background-color: $info
        border: 1px solid $info
        @include set-text-color($info)
        &:hover
            @include darken-6($info)

    &.success
        background-color: $success
        border: 1px solid $success
        @include set-text-color($success)
        &:hover
            @include darken-6($success)

    &.warn
        background-color: $warn
        border: 1px solid $warn
        @include set-text-color($warn)
        &:hover
            @include darken-6($warn)

    &.error
        background-color: $error
        border: 1px solid $error
        @include set-text-color($error)
        &:hover
            @include darken-6($error)

    &.light
        background-color: $bg-light
        border: 1px solid $bg-light
        @include set-text-color($bg-light)
        &:hover
            @include darken-6($bg-light)

    &.dark
        background-color: $bg-dark
        border: 1px solid $bg-dark
        @include set-text-color($bg-dark)
        &:hover
            @include darken-6($bg-dark)

    &.small
        font-size: 0.75rem
        padding: 0.2rem 0.5rem

    &.large
        font-size: 1.25rem
        padding: 0.6rem 0.9rem

input[type=button]
    @extend button

input[type=submit]
    @extend button

a
    &.btn
        @extend button
        text-decoration: none

