@import variables
@import mixins

input
    &[type=text]
        @include default-font
        background: none
        border: solid lighten($table-border,  5%)
        border-width: 0px 0px 1px 0px
        // border-radius: 3px
        padding: 0.5rem
        outline-color: rgba(0, 0, 0, 0);

        &:focus
            border-color: $primary
        &.secondary
            &:focus
                border-color: $secondary
        &.info
            &:focus
                border-color: $info
        &.success
            &:focus
                border-color: $success
        &.warn
            &:focus
                border-color: $warn
        &.error
            &:focus
                border-color: $error
        &.light
            &:focus
                border-color: $bg-light
        &.dark
            &:focus
                border-color: $bg-dark

    &[type=range]
        appearance: none
        background: none
        margin: 18px 0
        // width: 100%
        &:focus
            outline: none
        &::-webkit-slider-runnable-track
            width: 100%
            height: 2px
            animate: 0.2s
            box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d
            background: $bg-button
            /* border-radius: 1.3px; */
            border: 0.2px solid #010101
        &::-webkit-slider-thumb 
            /* box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; */
            height: 12px
            width: 12px
            border-radius: 50%
            background: $bg-button
            -webkit-appearance: none
            margin-top: -5px
        &:hover
            background: darken($bg-button, 10%)
            &::-webkit-slider-thumb
                background: darken($bg-button, 10%)
            &::-webkit-slider-runnable-track
                @extend input[type=range]:hover::-webkit-slider-thumb
            &::-moz-range-track
                @extend input[type=range]:hover::-webkit-slider-runnable-track
            &::-moz-range-thumb
                @extend input[type=range]:hover::-webkit-slider-thumb
            &::-ms-track
                @extend input[type=range]:hover::-webkit-slider-thumb
            &::-ms-fill-lower
                @extend input[type=range]:hover::-webkit-slider-thumb
            &::-ms-fill-upper
                @extend input[type=range]:hover::-webkit-slider-thumb
        &::-moz-range-track
            @extend input[type=range]::-webkit-slider-runnable-track
            animate: 0.2s
        &::-moz-range-thumb
            @extend input[type=range]::-webkit-slider-thumb
        &::-ms-track
            @extend input[type=range]::-moz-range-track
            border-color: transparent
            color: transparent
        &::-ms-thumb
            @extend input[type=range]::-webkit-slider-thumb
            margin-top: 0px
        &::-ms-fill-lower
            background: $bg-button;
            border: 0.2px solid #010101;
            border-radius: 2.6px;
            box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
        &::-ms-fill-upper
            @extend input[type=range]::-ms-fill-lower

        .success
            &::-webkit-slider-runnable-track
                background: $success
            &::-webkit-slider-thumb
                background: $success
            &:hover
                background: darken($success, 10%)
                &::-webkit-slider-thumb
                    background: darken($success, 10%)
                &::-webkit-slider-runnable-track
                    @extend .success:hover::-webkit-slider-thumb
                &::-moz-range-track
                    @extend .success:hover::-webkit-slider-runnable-track
                &::-moz-range-thumb
                    @extend .success:hover::-webkit-slider-thumb
                &::-ms-track
                    @extend .success:hover::-webkit-slider-thumb
                &::-ms-fill-lower
                    @extend .success:hover::-webkit-slider-thumb
                &::-ms-fill-upper
                    @extend .success:hover::-webkit-slider-thumb




    &[type=number]
        @extend [type=text]
    &[type=date]
        @extend [type=text]
    &[type=datetime]
        @extend [type=text]
    &[type=color]
        @extend [type=text]
    &[type=password]
        @extend [type=text]
    &[type=radio]
        @extend [type=text]
    &[type=checkbox]
        @extend [type=text]

select
    @extend input[type=text]

.mark
    &::after
        display: none
        position: absolute
        content: ""

label
    &.check

        &.block
            display: block

        &.secondary
            input
                &:checked
                    ~
                        .mark
                            background-color: $secondary
                            &:active
                                border-color: $secondary
        &.info
            input
                &:checked
                    ~
                        .mark
                            background-color: $info
                            &:active
                                border-color: $info
        &.success
            input
                &:checked
                    ~
                        .mark
                            background-color: $success
                            &:active
                                border-color: $success
        &.warn
            input
                &:checked
                    ~
                        .mark
                            background-color: $warn
                            &:active
                                border-color: $warn
        &.error
            input
                &:checked
                    ~
                        .mark
                            background-color: $error
                            &:active
                                border-color: $error
        &.light
            input
                &:checked
                    ~
                        .mark
                            background-color: $bg-light
                            &:active
                                border-color: $bg-light
        &.dark
            input
                &:checked
                    ~
                        .mark
                            background-color: $bg-dark
                            &:active
                                border-color: $bg-dark

        position: relative
        input
            display: none
            visibility: hidden
            opacity: 0

            &:checked
                ~
                    .mark
                        background-color: $primary

                        &::after
                            display: block

        .mark
            width: 15px
            height: 15px
            background-color: transparent
            border: 1px solid $table-border
            border-radius: 4px
            display: inline-block
            position: relative
            top: 1px
            cursor: pointer
            transition: background-color .1s

            &:hover
                background-color: #eee
            &:active
                border-color: $primary

            &::after
                border-radius: 1px
                left: 4px
                top: 2px
                width: 3px
                height: 6px
                border: solid $bg-light
                border-width: 0 2px 2px 0
                transform: rotate(43deg)

    &.radio
        @extend .check
        .mark
            border-radius: 1rem
            &::after
                background-color:#f5f5f5
                border-width: 0
                border-radius: 1rem
                left: 3px
                top: 3px
                width: 7px
                height: 7px

.form-group
    margin: 0 0.25rem 0.5rem 0.25rem
    label
        display: block

.check-group
    label
        display: inline
    &.block
        label
            display: block

.radio-group
    @extend .check-group

.form-col
    margin: 0 0.25rem 0.5rem 0.25rem
    label
        display: inline
        margin-right: 5px