@import variables
@import mixins

input
    &[type=text]
        @include default-font
        border: 1px solid lighten($table-border,  5%)
        border-radius: 3px
        padding: 0.5rem

        &:focus
            border-color: $primary
        &.secondary
            &:focus
                border-color: $secondary
        &.info
            &:focus
                border-color: $info
        &.success
            &:focus
                border-color: $success
        &.warn
            &:focus
                border-color: $warn
        &.error
            &:focus
                border-color: $error
        &.light
            &:focus
                border-color: $bg-light
        &.dark
            &:focus
                border-color: $bg-dark

    &[type=number]
        @extend [type=text]
    &[type=date]
        @extend [type=text]
    &[type=datetime]
        @extend [type=text]
    &[type=color]
        @extend [type=text]
    &[type=password]
        @extend [type=text]
    &[type=radio]
        @extend [type=text]
    &[type=checkbox]
        @extend [type=text]

select
    @extend input[type=text]

.mark
    &::after
        display: none
        position: absolute
        content: ""

label
    &.check

        &.block
            display: block

        &.secondary
            input
                &:checked
                    ~
                        .mark
                            background-color: $secondary
                            &:active
                                border-color: $secondary
        &.info
            input
                &:checked
                    ~
                        .mark
                            background-color: $info
                            &:active
                                border-color: $info
        &.success
            input
                &:checked
                    ~
                        .mark
                            background-color: $success
                            &:active
                                border-color: $success
        &.warn
            input
                &:checked
                    ~
                        .mark
                            background-color: $warn
                            &:active
                                border-color: $warn
        &.error
            input
                &:checked
                    ~
                        .mark
                            background-color: $error
                            &:active
                                border-color: $error
        &.light
            input
                &:checked
                    ~
                        .mark
                            background-color: $bg-light
                            &:active
                                border-color: $bg-light
        &.dark
            input
                &:checked
                    ~
                        .mark
                            background-color: $bg-dark
                            &:active
                                border-color: $bg-dark

        position: relative
        input
            display: none
            visibility: hidden
            opacity: 0

            &:checked
                ~
                    .mark
                        background-color: $primary

                        &::after
                            display: block

        .mark
            width: 15px
            height: 15px
            background-color: transparent
            border: 1px solid $table-border
            border-radius: 4px
            display: inline-block
            position: relative
            top: 1px
            cursor: pointer
            transition: background-color .1s

            &:hover
                background-color: #eee
            &:active
                border-color: $primary

            &::after
                border-radius: 1px
                left: 4px
                top: 2px
                width: 3px
                height: 6px
                border: solid $bg-light
                border-width: 0 2px 2px 0
                transform: rotate(43deg)

    &.radio
        @extend .check
        .mark
            border-radius: 1rem
            &::after
                background-color:#f5f5f5
                border-width: 0
                border-radius: 1rem
                left: 3px
                top: 3px
                width: 7px
                height: 7px

.form-group
    margin: 0 0.25rem 0.5rem 0.25rem
    label
        display: block

.form-col
    margin: 0 0.25rem 0.5rem 0.25rem
    label
        display: inline
        margin-right: 5px