.container
    max-width: 1200px
    margin: auto
    padding: 1rem

.grid
    width: 100%
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))

@for $i from 1 through 10
    .gap-#{$i * 5}
        grid-gap: $i * 5px
    .row-gap-#{$i * 5}
        grid-row-gap: $i * 5px
    .col-gap-#{$i * 5}
        grid-column-gap: $i * 5px

@for $i from 1 through 20
    @for $j from 1 through 20
        .span-#{$i}-#{$j}
            grid-column-start: $i
            grid-column-end: $j

// @for $i from 1 through 20
//     .span-#{$i}
//         grid-column: span $i

@for $i from 1 through 10
    .mt-#{$i * 5}
        margin-top: $i * 5px
    .mr-#{$i * 5}
        margin-right: $i * 5px
    .mb-#{$i * 5}
        margin-bottom: $i * 5px
    .ml-#{$i * 5}
        margin-left: $i * 5px
    .mx-#{$i * 5}
        margin: 0 $i * 5px
    .my-#{$i * 5}
        margin: $i * 5px 0
    .m-#{$i * 5}
        margin: $i * 5px
    .pt-#{$i * 5}
        padding-top: $i * 5px
    .pr-#{$i * 5}
        padding-right: $i * 5px
    .pb-#{$i * 5}
        padding-bottom: $i * 5px
    .pl-#{$i * 5}
        padding-left: $i * 5px
    .px-#{$i * 5}
        padding: 0 $i * 5px
    .py-#{$i * 5}
        padding: $i * 5px 0
    .p-#{$i * 5}
        padding: $i * 5px

.m-auto
    margin: auto
.mx-auto
    margin: 0 auto
.my-auto
    margin: auto 0
.p-auto
    padding: auto
.px-auto
    padding: 0 auto
.py-auto
    padding: auto 0
