@import variables

@mixin set-text-color($color)
  @if (lightness($color) > 50)
    color: $bg-dark // Lighter background, return dark color
  @else
    color: $bg-light // Darker background, return light color

@mixin default-font
  font-family: 'Montserrat-Regular', Calibri, 'Trebuchet MS', sans-serif
  font-size: 14px
  font-weight: 400

@mixin darken-6($color)
  background-color: darken($color, 6%)