@import variables
@import mixins

table
    width: 100%
    border-collapse: collapse
    margin-bottom: 1rem
    thead
        tr
            border-bottom: 1px solid $bg-dark
    tbody
        tr
            border-bottom: 1px solid $table-border
        tr:last-child
            border-bottom-width: 0;
    td
        text-align: left
        padding: 0.75rem
    th
        @extend td
        font-weight: bold

    &.striped
        tbody
            tr:nth-child(odd)
                background-color: darken($bg-light, 5%)

    &.slim
        td
            padding: 0.25rem

    &.primary
        thead
            th
                background-color: $primary
                @include set-text-color($primary)

    &.secondary
        thead
            th
                background-color: $secondary
                @include set-text-color($secondary)

    &.info
        thead
            th
                background-color: $info
                @include set-text-color($info)

    &.success
        thead
            th
                background-color: $success
                @include set-text-color($success)

    &.warn
        thead
            th
                background-color: $warn
                @include set-text-color($warn)

    &.error
        thead
            th
                background-color: $error
                @include set-text-color($error)

    &.light
        thead
            th
                background-color: $bg-light
                @include set-text-color($bg-light)

    &.dark
        thead
            th
                background-color: $bg-dark
                @include set-text-color($bg-dark)
